Repository jaegertracing/jaeger, pull requests merged in 2020-09, with the labels that each got.

#2438 Fix TLS flags settings in jaeger OTEL receiver
  cmd/opentelemetry/app/exporter/jaegerexporter/jaeger_exporter_test.go
  cmd/opentelemetry/app/receiver/jaegerreceiver/jaeger_receiver.go
  cmd/opentelemetry/app/receiver/jaegerreceiver/jaeger_receiver_test.go
Labels: area/otel

#2442 Fix mutex unlock in storage exporters
  cmd/opentelemetry/app/exporter/badgerexporter/factory.go
  cmd/opentelemetry/app/exporter/memoryexporter/factory.go
Labels: area/otel

#2444 Use queue retry per exporter
  cmd/opentelemetry/app/defaultconfig/default_config.go
  cmd/opentelemetry/app/defaultconfig/default_config_test.go
  cmd/opentelemetry/app/exporter/badgerexporter/config.go
  cmd/opentelemetry/app/exporter/badgerexporter/factory.go
  cmd/opentelemetry/app/exporter/badgerexporter/factory_test.go
  cmd/opentelemetry/app/exporter/cassandraexporter/config.go
  cmd/opentelemetry/app/exporter/cassandraexporter/exporter.go
  cmd/opentelemetry/app/exporter/cassandraexporter/factory.go
  cmd/opentelemetry/app/exporter/cassandraexporter/factory_test.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/config.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/exporter.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/factory.go
  cmd/opentelemetry/app/exporter/grpcpluginexporter/config.go
  cmd/opentelemetry/app/exporter/grpcpluginexporter/exporter.go
  cmd/opentelemetry/app/exporter/grpcpluginexporter/factory.go
  cmd/opentelemetry/app/exporter/grpcpluginexporter/factory_test.go
  cmd/opentelemetry/app/exporter/span_writer_exporter.go
Labels: area/otel

#2448 Remove olivere elastic client from OTEL
  cmd/opentelemetry/app/exporter/elasticsearchexporter/integration_test.go
  cmd/opentelemetry/go.mod
  cmd/opentelemetry/go.sum
Labels: area/otel, storage/elasticsearch

#2431 Add storage metrics to OTEL, metrics by span service name
  cmd/opentelemetry/app/exporter/elasticsearchexporter/exporter.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/integration_test.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/spanstore.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/spanstore_test.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/storagefactory.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/storagefactory_test.go
  cmd/opentelemetry/app/exporter/span_writer_exporter.go
  cmd/opentelemetry/app/exporter/span_writer_exporter_test.go
  cmd/opentelemetry/app/exporter/storagemetrics/metrics.go
  cmd/opentelemetry/app/exporter/storagemetrics/metrics_test.go
  cmd/opentelemetry/app/internal/esclient/client.go
  cmd/opentelemetry/app/telemetry.go
  cmd/opentelemetry/cmd/agent/main.go
  cmd/opentelemetry/cmd/all-in-one/main.go
  cmd/opentelemetry/cmd/collector/main.go
  cmd/opentelemetry/cmd/ingester/main.go
  cmd/opentelemetry/go.mod
  plugin/storage/integration/trace_compare.go
Labels: area/otel

#2453 Configurable ES doc count
  CHANGELOG.md
  cmd/opentelemetry/app/exporter/elasticsearchexporter/integration_test.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/storagefactory.go
  cmd/opentelemetry/app/internal/reader/es/esdependencyreader/dependency_store.go
  cmd/opentelemetry/app/internal/reader/es/esdependencyreader/dependency_store_test.go
  cmd/opentelemetry/app/internal/reader/es/esspanreader/query.go
  cmd/opentelemetry/app/internal/reader/es/esspanreader/query_test.go
  cmd/opentelemetry/app/internal/reader/es/esspanreader/span_reader.go
  pkg/es/config/config.go
  plugin/storage/es/dependencystore/storage.go
  plugin/storage/es/dependencystore/storage_test.go
  plugin/storage/es/factory.go
  plugin/storage/es/options.go
  plugin/storage/es/options_test.go
  plugin/storage/es/spanstore/reader.go
  plugin/storage/es/spanstore/reader_test.go
  plugin/storage/es/spanstore/service_operation.go
  plugin/storage/integration/elasticsearch_test.go
Labels: storage/elasticsearch

#2458 Consolidated OTel ES IndexNameProviders
  cmd/opentelemetry/app/exporter/elasticsearchexporter/index_name.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/index_name_test.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/spanstore.go
  cmd/opentelemetry/app/internal/esutil/index_name.go
  cmd/opentelemetry/app/internal/esutil/index_name_test.go
  cmd/opentelemetry/app/internal/reader/es/esspanreader/span_reader.go
Labels: area/otel, storage/elasticsearch

#2456 Add partial retry capability to OTEL ES exporter.
  cmd/opentelemetry/app/exporter/elasticsearchexporter/esmodeltranslator/modeltranslator.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/esmodeltranslator/modeltranslator_test.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/exporter.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/factory.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/spanstore.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/spanstore_test.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/storagefactory.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/storagefactory_test.go
  cmd/opentelemetry/go.sum
Labels: area/otel, storage/elasticsearch

#2483 Rename container to spanData
  cmd/opentelemetry/app/exporter/elasticsearchexporter/esmodeltranslator/modeltranslator.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/esmodeltranslator/modeltranslator_test.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/storagefactory_test.go
Labels: area/otel, storage/elasticsearch

#2484 Translate OTEL instrumentation library to ES DB model
  .travis.yml
  cmd/opentelemetry/app/exporter/elasticsearchexporter/esmodeltranslator/modeltranslator.go
  cmd/opentelemetry/app/exporter/elasticsearchexporter/esmodeltranslator/modeltranslator_test.go
Labels: area/otel, storage/elasticsearch

#2488 Fix unmarshalling in OTEL badger
  plugin/storage/badger/spanstore/reader.go
Labels: area/otel, storage/badger

#2512 Fix OTEL kafka receiver/ingester panic
  pkg/kafka/consumer/config.go
Labels: area/otel, bug, storage/kafka
