Repository jaegertracing/jaeger, pull requests merged in 2024-07, with the labels that each got.

#5691 Support default configs for storage backends
  cmd/jaeger/config-badger.yaml
  cmd/jaeger/config-cassandra.yaml
  cmd/jaeger/config-elasticsearch.yaml
  cmd/jaeger/config-opensearch.yaml
  cmd/jaeger/config-remote-storage.yaml
  cmd/jaeger/internal/all-in-one.yaml
  cmd/jaeger/internal/exporters/storageexporter/exporter_test.go
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/config_test.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  pkg/cassandra/config/config.go
  plugin/storage/badger/options.go
  plugin/storage/cassandra/factory.go
  plugin/storage/cassandra/factory_test.go
  plugin/storage/cassandra/options.go
  plugin/storage/es/factory.go
  plugin/storage/es/options.go
  plugin/storage/grpc/config.go
  plugin/storage/grpc/config_test.go
Labels: area/storage, storage/elasticsearch, changelog:breaking-change, storage/badger, storage/cassandra, v2

#5702 Upgrade Microsim to v0.4.1
  docker-compose/monitor/docker-compose.yml
Labels: changelog:bugfix-or-minor-feature, area/otel

#5682 Increase codecov of pkg/kafka
  internal/tracegen/worker_test.go
  pkg/kafka/auth/config_test.go
  pkg/kafka/auth/kerberos_test.go
  pkg/kafka/auth/plaintext_test.go
  pkg/kafka/auth/tls_test.go
  pkg/kafka/consumer/config_test.go
  pkg/kafka/producer/config_test.go
Labels: changelog:test

#5704 Add back ESv6 support with e2e test
  .github/workflows/ci-elasticsearch.yml
  docker-compose/elasticsearch/v6/docker-compose.yml
  plugin/storage/es/mappings/fixtures/jaeger-dependencies-6.json
  plugin/storage/es/mappings/fixtures/jaeger-sampling-6.json
  plugin/storage/es/mappings/fixtures/jaeger-service-6.json
  plugin/storage/es/mappings/fixtures/jaeger-span-6.json
  plugin/storage/es/mappings/jaeger-dependencies-6.json
  plugin/storage/es/mappings/jaeger-sampling-6.json
  plugin/storage/es/mappings/jaeger-service-6.json
  plugin/storage/es/mappings/jaeger-span-6.json
  plugin/storage/es/mappings/mapping.go
  plugin/storage/es/mappings/mapping_test.go
  plugin/storage/integration/elasticsearch_test.go
  plugin/storage/integration/es_index_cleaner_test.go
Labels: area/storage, storage/elasticsearch, changelog:skip

#5716 [bug] Use correct argument as jaeger-version
  .github/workflows/ci-elasticsearch.yml
  .github/workflows/ci-lint-shell-scripts.yml
  .github/workflows/ci-opensearch.yml
  cmd/jaeger/internal/integration/e2e_integration.go
  cmd/jaeger/internal/integration/e2e_integration_test.go
  scripts/es-integration-test.sh
Labels: storage/elasticsearch, changelog:ci, changelog:test

#5718 [tracegen] Allow use of adaptive sampling
  cmd/tracegen/main.go
  go.mod
  go.sum
  scripts/adaptive-sampling-integration-test.sh
Labels: changelog:new-feature, area/otel, area/sampling

#5714 Run jaeger-es-index-cleaner and jaeger-es-rollover locally
  pkg/version/build_test.go
  plugin/storage/integration/es_index_cleaner_test.go
  scripts/es-integration-test.sh
Labels: area/storage, storage/elasticsearch, changelog:new-feature

#5720 Cleanup the Prometheus config
  pkg/version/build_test.go
  plugin/metrics/prometheus/factory.go
  plugin/metrics/prometheus/factory_test.go
  plugin/metrics/prometheus/options.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#5695 Implement Telemetery struct for V1 Components Initialization
  cmd/all-in-one/main.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/query/app/apiv3/http_gateway.go
  cmd/query/app/apiv3/http_gateway_test.go
  cmd/query/app/handler_options.go
  cmd/query/app/http_handler.go
  cmd/query/app/http_handler_test.go
  cmd/query/app/server.go
  cmd/query/app/server_test.go
  cmd/query/app/token_propagation_test.go
  cmd/query/main.go
  pkg/telemetery/settings.go
  pkg/telemetery/settings_test.go
Labels: area/otel, v2, changelog:exprimental

#5734 [hotrod] Fix connectivity in docker compose
  cmd/jaeger/internal/integration/storagecleaner/README.md
  docker-compose/monitor/README.md
  examples/hotrod/docker-compose.yml
Labels: changelog:bugfix-or-minor-feature, docker

#5739 Make OTLP receiver listen on all IPs again
  cmd/collector/app/flags/flags.go
  cmd/collector/app/server/grpc_test.go
  cmd/jaeger/internal/extension/jaegerquery/config.go
  cmd/jaeger/internal/extension/jaegerquery/factory.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerquery/server_test.go
  cmd/query/app/handler_archive_test.go
  cmd/query/app/handler_deps_test.go
  cmd/query/app/http_handler_test.go
  cmd/query/app/query_parser_test.go
  cmd/query/app/server.go
  cmd/query/app/server_test.go
  cmd/remote-storage/app/server_test.go
  examples/hotrod/docker-compose.yml
  internal/grpctest/reflection.go
  internal/grpctest/reflection_test.go
Labels: changelog:bugfix-or-minor-feature, area/otel

#5731 Created telset for remote-storage component
  cmd/remote-storage/app/server.go
  cmd/remote-storage/app/server_test.go
  cmd/remote-storage/main.go
  plugin/storage/integration/remote_memory_storage.go
Labels: area/storage, changelog:new-feature, changelog:test

#5741 Completely remove "grpc-plugin" as storage type
  plugin/storage/factory.go
  plugin/storage/factory_config.go
Labels: area/storage, changelog:breaking-change

#5742 Remove not needed GetAddressFromCLIOptions
  cmd/query/app/server_test.go
  ports/ports.go
  ports/ports_test.go
Labels: changelog:skip

#5389 [jaeger-v2] Add `remotesampling` extension
  cmd/jaeger/config.yaml
  cmd/jaeger/internal/components.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  cmd/jaeger/internal/extension/remotesampling/config.go
  cmd/jaeger/internal/extension/remotesampling/config_test.go
  cmd/jaeger/internal/extension/remotesampling/extension.go
  cmd/jaeger/internal/extension/remotesampling/extension_test.go
  cmd/jaeger/internal/extension/remotesampling/factory.go
  cmd/jaeger/internal/extension/remotesampling/factory_test.go
  cmd/jaeger/internal/extension/remotesampling/package_test.go
  cmd/jaeger/internal/processors/adaptivesampling/config.go
  cmd/jaeger/internal/processors/adaptivesampling/factory.go
  cmd/jaeger/internal/processors/adaptivesampling/factory_test.go
  cmd/jaeger/internal/processors/adaptivesampling/package_test.go
  cmd/jaeger/internal/processors/adaptivesampling/processor.go
  cmd/jaeger/internal/processors/adaptivesampling/processor_test.go
  cmd/jaeger/sampling-strategies.json
  go.mod
  pkg/clientcfg/clientcfghttp/handler.go
  pkg/clientcfg/clientcfghttp/handler_test.go
  plugin/sampling/strategyprovider/adaptive/aggregator.go
  plugin/sampling/strategyprovider/adaptive/aggregator_test.go
  plugin/sampling/strategyprovider/adaptive/options.go
  plugin/sampling/strategyprovider/adaptive/options_test.go
Labels: area/sampling, v2, changelog:exprimental, go

#5744 [cleanup] Use storagetest.NewStorageHost() from contrib
  cmd/jaeger/internal/exporters/storageexporter/exporter_test.go
  cmd/jaeger/internal/extension/jaegerquery/server_test.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  cmd/jaeger/internal/processors/adaptivesampling/processor_test.go
Labels: area/storage, changelog:test

#5750 Rationalize naming of GHA workflow files
  .github/workflows/ci-docker-all-in-one.yml
  .github/workflows/ci-docker-hotrod.yml
  .github/workflows/ci-e2e-badger.yaml
  .github/workflows/ci-e2e-cassandra.yml
  .github/workflows/ci-e2e-elasticsearch.yml
  .github/workflows/ci-e2e-grpc.yml
  .github/workflows/ci-e2e-kafka.yml
  .github/workflows/ci-e2e-opensearch.yml
  .github/workflows/ci-e2e-spm.yml
  .github/workflows/ci-lint-dependabot-config.yml
  .github/workflows/ci-lint-protogen.yml
  .github/workflows/ci-release-testing.yml
  .github/workflows/label-check.yml
Labels: changelog:ci

#5751 [v2] Add e2e test with memory store
  .github/workflows/ci-e2e-memory.yaml
  cmd/jaeger/internal/integration/e2e_integration.go
  cmd/jaeger/internal/integration/elasticsearch_test.go
  cmd/jaeger/internal/integration/memory_test.go
  cmd/jaeger/internal/integration/opensearch_test.go
  cmd/jaeger/internal/integration/storagecleaner/extension.go
  cmd/jaeger/internal/integration/storagecleaner/extension_test.go
  plugin/storage/memory/factory.go
  plugin/storage/memory/memory.go
Labels: area/storage, v2, changelog:ci, go

#5749 Remove cmd/jaeger/internal/integration/receivers/storagereceiver/
  cmd/jaeger/internal/integration/receivers/storagereceiver/README.md
  cmd/jaeger/internal/integration/receivers/storagereceiver/config.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/config_test.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/factory.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/factory_test.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/package_test.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/receiver.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/receiver_test.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/testdata/config.yaml
Labels: changelog:skip

#5753 Add a threshold for expected zero values in the SPM script
  scripts/spm-integration-test.sh
Labels: enhancement, changelog:ci

#5760 [bug] [hotrod] Delay env var mapping until logger is initialized
  examples/hotrod/cmd/root.go
Labels: changelog:bugfix-or-minor-feature, go

#5740 Added a docker-compose for hotrod e2e test
  .github/workflows/ci-docker-hotrod.yml
  examples/hotrod/docker-compose.yml
  scripts/hotrod-integration-test.sh
Labels: changelog:test, docker

#5764 Ensure hotrod image is published at the end of e2e test
  scripts/hotrod-integration-test.sh
Labels: bug, changelog:bugfix-or-minor-feature

#5765 Skip building HotROD for all platforms for pull requests
  .github/workflows/ci-docker-hotrod.yml
  scripts/hotrod-integration-test.sh
Labels: changelog:ci

#5770 Update changelog with breaking change
  CHANGELOG.md
Labels: changelog:skip

#5681 Enable SPM in Jaeger v2
  .github/workflows/ci-e2e-spm.yml
  cmd/jaeger/internal/components.go
  cmd/jaeger/internal/exporters/storageexporter/exporter_test.go
  cmd/jaeger/internal/extension/jaegerquery/config.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerquery/server_test.go
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/config_test.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  cmd/jaeger/internal/integration/storagecleaner/extension_test.go
  cmd/query/app/querysvc/query_service.go
  docker-compose/monitor/Makefile
  docker-compose/monitor/docker-compose-v2.yml
  docker-compose/monitor/docker-compose.yml
  docker-compose/monitor/jaeger-v2-config.yml
  docker-compose/monitor/otel-collector-config-connector.yml
  docker-compose/monitor/prometheus.yml
  go.mod
  go.sum
  pkg/prometheus/config/config.go
  pkg/prometheus/config/config_test.go
  plugin/metrics/prometheus/factory.go
  plugin/metrics/prometheus/factory_test.go
  plugin/metrics/prometheus/options.go
  scripts/spm-integration-test.sh
Labels: area/storage, v2, changelog:exprimental, docker

#5703 Add Kafka exporter and receiver configuration
  cmd/jaeger/collector-with-kafka.yaml
  cmd/jaeger/ingester-remote-storage.yaml
  cmd/jaeger/internal/integration/README.md
  cmd/jaeger/internal/integration/badger_test.go
  cmd/jaeger/internal/integration/cassandra_test.go
  cmd/jaeger/internal/integration/e2e_integration.go
  cmd/jaeger/internal/integration/elasticsearch_test.go
  cmd/jaeger/internal/integration/grpc_test.go
  cmd/jaeger/internal/integration/kafka_test.go
  cmd/jaeger/internal/integration/memory_test.go
  cmd/jaeger/internal/integration/opensearch_test.go
  plugin/storage/integration/integration.go
Labels: enhancement, storage/kafka, v2, changelog:exprimental

#5752 Configure OTEL Collector to observe Internal Telemetry
  cmd/all-in-one/all_in_one_test.go
  cmd/jaeger/internal/all-in-one.yaml
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerquery/server_test.go
  scripts/compare_metrics.py
Labels: area/otel, v2, changelog:exprimental

#5775 Add basic v2 architecture diagram
  cmd/jaeger/README.md
Labels: documentation, changelog:skip

#5778 Fix grpc tests sleep between connections
  pkg/discovery/grpcresolver/grpc_resolver_test.go
Labels: bug, changelog:test

#5779 Add references to Jaeger v2
  README.md
  cmd/jaeger/README.md
  examples/hotrod/README.md
  examples/hotrod/docker-compose-v2.yml
Labels: changelog:bugfix-or-minor-feature

#5780 Add unit tests for scripts/compute-tags.sh
  .github/workflows/ci-lint-shell-scripts.yml
  scripts/compute-tags.sh
  scripts/compute-tags.test.sh
Labels: changelog:test, docker

#5781 Only attach :latest tag to versioned images from main
  scripts/compute-tags.sh
  scripts/compute-tags.test.sh
Labels: changelog:bugfix-or-minor-feature

#5783 Do not use image tag without version
  scripts/compute-tags.sh
  scripts/compute-tags.test.sh
Labels: changelog:bugfix-or-minor-feature, docker

#5782 Run v2 e2e integration tests for Kafka
  .github/workflows/ci-e2e-kafka.yml
  cmd/jaeger/collector-with-kafka.yaml
  cmd/jaeger/internal/integration/e2e_integration.go
  cmd/jaeger/internal/integration/kafka_test.go
  scripts/kafka-integration-test.sh
Labels: storage/kafka, v2, changelog:test

#5787 Unpin codeql actions
  .github/workflows/codeql.yml
Labels: changelog:ci

#5785 [v2] Ensure similar naming for query service metrics
  cmd/jaeger/internal/all-in-one.yaml
  cmd/jaeger/internal/extension/jaegerquery/server.go
  scripts/compare_metrics.py
Labels: area/otel, v2, changelog:exprimental
