Repository jaegertracing/jaeger, pull requests merged in 2024-09, with the labels that each got.

#5915 Fix Integration Test Log Dumping For Storage Backends
  .github/workflows/ci-docker-hotrod.yml
  .github/workflows/ci-e2e-cassandra.yml
  .github/workflows/ci-e2e-elasticsearch.yml
  .github/workflows/ci-e2e-opensearch.yml
  scripts/es-integration-test.sh
  scripts/hotrod-integration-test.sh
Labels: area/storage, changelog:ci

#5917 Simplify Bundling of UI assets
  CONTRIBUTING.md
  Makefile
  Makefile.BuildBinaries.mk
  cmd/query/app/static_handler.go
  cmd/query/app/static_handler_test.go
  cmd/query/app/ui/actual.go
  cmd/query/app/ui/assets.go
  cmd/query/app/ui/assets_test.go
  cmd/query/app/ui/doc.go
  cmd/query/app/ui/placeholder.go
  cmd/query/app/ui/placeholder/index.html
  cmd/query/app/ui/testdata/actual/index.html.gz
  cmd/query/app/ui/testdata/empty_test.go
  cmd/query/app/ui/testdata/mock.go
Labels: ui, changelog:bugfix-or-minor-feature

#5925 [jaeger-v2] Add validation and comments to memory storage config (#5925)
  plugin/storage/memory/config.go
  plugin/storage/memory/config_test.go
Labels: area/storage, v2, changelog:exprimental

#5924 Normalize build-binaries targets
  .github/workflows/ci-build-binaries.yml
  Makefile.BuildBinaries.mk
  Makefile.Crossdock.mk
  scripts/build-all-in-one-image.sh
  scripts/build-upload-docker-images.sh
  scripts/cassandra-integration-test.sh
  scripts/es-integration-test.sh
  scripts/kafka-integration-test.sh
  scripts/package-deploy.sh
  scripts/platforms-to-gh-matrix.sh
Labels: changelog:ci

#5929 Remove unused "namespace" field from Badger config
  plugin/storage/badger/dependencystore/storage_test.go
  plugin/storage/badger/factory.go
  plugin/storage/badger/options.go
  plugin/storage/badger/options_test.go
  plugin/storage/badger/spanstore/read_write_test.go
  plugin/storage/badger/stats_linux_test.go
  plugin/storage/badger/stats_test.go
Labels: changelog:bugfix-or-minor-feature, storage/badger

#5932 V2 repease prep
  .github/workflows/ci-docker-build.yml
  .github/workflows/ci-docker-hotrod.yml
  .github/workflows/ci-release.yml
  Makefile.BuildBinaries.mk
  RELEASE.md
  scripts/build-hotrod-image.sh
  scripts/build-upload-a-docker-image.sh
  scripts/build-upload-docker-images.sh
  scripts/clean-binaries.sh
  scripts/package-deploy.sh
Labels: v2, changelog:ci, docker

#5933 Fix typo
  .github/workflows/ci-release.yml
Labels: changelog:skip

#5927 [jaeger-v2] Add Validation And Comments to Badger Storage Config
  cmd/jaeger/config-badger.yaml
  cmd/jaeger/internal/extension/jaegerstorage/config_test.go
  plugin/storage/badger/factory.go
  plugin/storage/badger/factory_test.go
  plugin/storage/badger/options.go
  plugin/storage/badger/options_test.go
  plugin/storage/badger/stats_linux.go
Labels: area/storage, storage/badger, v2, changelog:exprimental

#5937 [jaeger-v2] Consolidate Options And NamespaceConfig For Badger Storage
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  plugin/storage/badger/config.go
  plugin/storage/badger/config_test.go
  plugin/storage/badger/dependencystore/storage_test.go
  plugin/storage/badger/factory.go
  plugin/storage/badger/factory_test.go
  plugin/storage/badger/options.go
  plugin/storage/badger/options_test.go
  plugin/storage/badger/spanstore/read_write_test.go
  plugin/storage/badger/stats_linux.go
  plugin/storage/badger/stats_linux_test.go
  plugin/storage/badger/stats_test.go
  plugin/storage/integration/badgerstore_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature, storage/badger, v2

#5953 [adaptive processor] Remove redundant function
  cmd/jaeger/internal/processors/adaptivesampling/processor.go
  plugin/sampling/strategyprovider/adaptive/aggregator.go
  plugin/sampling/strategyprovider/adaptive/aggregator_test.go
Labels: enhancement, changelog:bugfix-or-minor-feature, area/sampling

#5954 [adaptive sampling] Clean-up after previous refactoring
  plugin/sampling/strategyprovider/adaptive/aggregator.go
  plugin/sampling/strategyprovider/adaptive/post_aggregator.go
  plugin/sampling/strategyprovider/adaptive/post_aggregator_test.go
  plugin/sampling/strategyprovider/adaptive/provider.go
  plugin/sampling/strategyprovider/adaptive/provider_test.go
Labels: changelog:bugfix-or-minor-feature, area/sampling

#5956 Stop using v1 and v1.x tags for Docker images
  .github/actions/block-pr-from-main-branch/action.yml
  .github/workflows/ci-crossdock.yml
  .github/workflows/ci-docker-all-in-one.yml
  .github/workflows/ci-docker-build.yml
  .github/workflows/ci-docker-hotrod.yml
  .github/workflows/ci-lint-checks.yaml
  .github/workflows/ci-release.yml
  Makefile.Docker.mk
  scripts/build-all-in-one-image.sh
  scripts/build-hotrod-image.sh
  scripts/build-upload-a-docker-image.sh
  scripts/compute-tags.sh
  scripts/compute-tags.test.sh
Labels: changelog:ci, docker

#5955 Add README for adaptive sampling
  plugin/sampling/strategyprovider/adaptive/README.md
Labels: documentation, changelog:bugfix-or-minor-feature, area/sampling

#5962 Remove support for Cassandra 3.x and add Cassandra 5.x
  .github/dependabot.yml
  .github/workflows/ci-e2e-cassandra.yml
  docker-compose/cassandra/v5/docker-compose.yaml
  plugin/storage/cassandra/schema/create.sh
  renovate.json
Labels: area/storage, changelog:breaking-change, storage/cassandra

#5976 Replace loopvar linter
  .golangci.yml
  cmd/collector/app/handler/grpc_handler_test.go
  cmd/query/app/handler_archive_test.go
Labels: changelog:test

#5975 coverage while upgrading linter
  cmd/agent/app/customtransport/buffered_read_transport.go
  cmd/agent/app/reporter/grpc/flags.go
  cmd/agent/app/servers/thriftudp/socket_buffer.go
  cmd/collector/app/collector.go
  cmd/collector/app/flags/flags.go
  cmd/collector/app/span_handler_builder.go
  cmd/collector/app/span_processor.go
  model/converter/thrift/jaeger/to_domain.go
  model/converter/thrift/zipkin/to_domain.go
  model/time.go
  pkg/es/config/config.go
  plugin/storage/badger/spanstore/cache.go
  plugin/storage/badger/spanstore/writer.go
  plugin/storage/cassandra/dependencystore/storage.go
  plugin/storage/cassandra/spanstore/dbmodel/converter.go
  plugin/storage/cassandra/spanstore/writer.go
  plugin/storage/es/options.go
  plugin/storage/integration/integration.go
Labels: area/storage, storage/badger, storage/cassandra, changelog:ci

#5984 Enable publishing of versioned jaeger-v2 artifacts
  .github/workflows/ci-docker-all-in-one.yml
  .github/workflows/ci-release.yml
  scripts/build-all-in-one-image.sh
  scripts/build-hotrod-image.sh
  scripts/build-upload-a-docker-image.sh
  scripts/build-upload-docker-images.sh
  scripts/compute-tags.sh
  scripts/compute-tags.test.sh
  scripts/compute-version.sh
Labels: changelog:ci, docker

#5985 Prepare release 1.61.0 / 2.0.0-rc1
  CHANGELOG.md
  RELEASE.md
  scripts/draft-release.py
Labels: v2, changelog:skip

#5988 Fix regex for publishing v2 image
  scripts/build-upload-a-docker-image.sh
Labels: v2, changelog:ci, docker

#5989 testifylint: enable float-compare
  .golangci.yml
  cmd/all-in-one/all_in_one_test.go
  cmd/jaeger/internal/extension/remotesampling/extension_test.go
  cmd/query/app/handler_deps_test.go
  cmd/query/app/http_handler_test.go
  crossdock/services/agent_test.go
  internal/metrics/otelmetrics/factory_test.go
  internal/metrics/prometheus/factory_test.go
  model/keyvalue_test.go
  model/span_test.go
  plugin/metrics/prometheus/metricsstore/reader_test.go
  plugin/sampling/strategyprovider/adaptive/calculationstrategy/interface_test.go
  plugin/sampling/strategyprovider/adaptive/calculationstrategy/percentage_increase_capped_calculator_test.go
  plugin/sampling/strategyprovider/adaptive/factory_test.go
  plugin/sampling/strategyprovider/adaptive/options_test.go
  plugin/sampling/strategyprovider/adaptive/post_aggregator_test.go
  plugin/sampling/strategyprovider/adaptive/provider_test.go
  plugin/sampling/strategyprovider/static/provider_test.go
  plugin/storage/cassandra/samplingstore/storage_test.go
  plugin/storage/factory_test.go
  plugin/storage/memory/sampling_test.go
Labels: enhancement, changelog:test

#5986 [v2] Add temporary expvar extension
  cmd/jaeger/internal/all-in-one.yaml
  cmd/jaeger/internal/components.go
  cmd/jaeger/internal/extension/expvar/README.md
  cmd/jaeger/internal/extension/expvar/config.go
  cmd/jaeger/internal/extension/expvar/config_test.go
  cmd/jaeger/internal/extension/expvar/extension.go
  cmd/jaeger/internal/extension/expvar/extension_test.go
  cmd/jaeger/internal/extension/expvar/factory.go
  cmd/jaeger/internal/extension/expvar/factory_test.go
  cmd/jaeger/internal/extension/expvar/package_test.go
Labels: storage/badger, area/otel, v2, changelog:exprimental

#5983 testifylint: enable go-require
  .golangci.yml
  cmd/agent/app/configmanager/grpc/manager_test.go
  cmd/agent/app/reporter/grpc/collector_proxy_test.go
  cmd/agent/app/servers/thriftudp/transport_test.go
  cmd/agent/app/testutils/mock_grpc_collector.go
  cmd/anonymizer/app/query/query_test.go
  cmd/collector/app/handler/grpc_handler_test.go
  cmd/query/app/apiv3/grpc_handler_test.go
  cmd/query/app/grpc_handler_test.go
  internal/grpctest/reflection_test.go
  pkg/es/client/index_client_test.go
  pkg/es/config/config_test.go
  pkg/hostname/hostname_test.go
  plugin/metrics/prometheus/metricsstore/reader_test.go
  plugin/storage/es/factory_test.go
Labels: changelog:ci

#6007 [fix][spm]: Change default metrics namespace to match new default in spanmetricsconnector
  docker-compose/monitor/docker-compose.yml
  docker-compose/monitor/otel-collector-config-connector.yml
  go.mod
  go.sum
  plugin/metrics/prometheus/factory_test.go
  plugin/metrics/prometheus/options.go
Labels: bug, changelog:breaking-change, area/otel, docker

#6016 Fix linter errors from deprecations in OTEL 0.110
  cmd/collector/app/handler/otlp_receiver.go
  cmd/collector/app/handler/otlp_receiver_test.go
  cmd/jaeger/internal/exporters/storageexporter/factory.go
  cmd/jaeger/internal/extension/remotesampling/extension.go
  go.mod
  go.sum
  plugin/storage/grpc/config.go
  plugin/storage/grpc/factory.go
  plugin/storage/grpc/factory_test.go
Labels: bug, area/storage, changelog:dependencies

#6009 [feat] Deduplicate spans based upon their hashcode
  cmd/query/app/querysvc/adjusters.go
  model/adjuster/clockskew.go
  model/adjuster/sort_log_fields_test.go
  model/adjuster/sort_tags_and_log_fields.go
  model/adjuster/sort_tags_and_log_fields_test.go
  model/adjuster/span_hash_deduper.go
  model/adjuster/span_hash_deduper_test.go
  model/adjuster/zipkin_span_id_uniquify.go
  model/adjuster/zipkin_span_id_uniquify_test.go
  plugin/storage/memory/memory.go
Labels: enhancement, changelog:bugfix-or-minor-feature

#5998 [jaeger-v2] Refactor Configuration For Query Service
  cmd/jaeger/config-badger.yaml
  cmd/jaeger/config-cassandra.yaml
  cmd/jaeger/config-elasticsearch.yaml
  cmd/jaeger/config-kafka-ingester.yaml
  cmd/jaeger/config-opensearch.yaml
  cmd/jaeger/config-remote-storage.yaml
  cmd/jaeger/config-tail-sampling-always-sample.yaml
  cmd/jaeger/config-tail-sampling-service-name-policy.yaml
  cmd/jaeger/config.yaml
  cmd/jaeger/internal/all-in-one.yaml
  cmd/jaeger/internal/extension/jaegerquery/config.go
  cmd/jaeger/internal/extension/jaegerquery/config_test.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerquery/server_test.go
  cmd/jaeger/internal/integration/e2e_integration.go
  cmd/query/app/flags.go
  cmd/query/app/flags_test.go
  cmd/query/app/static_handler.go
  cmd/query/app/static_handler_test.go
  docker-compose/monitor/jaeger-v2-config.yml
  docker-compose/tail-sampling/jaeger-v2-config.yml
Labels: v2, changelog:exprimental

#5949 [jaeger-v2] Align Cassandra Storage Config With OTEL
  cmd/jaeger/config-cassandra.yaml
  cmd/jaeger/internal/extension/jaegerstorage/config_test.go
  pkg/cassandra/config/config.go
  pkg/cassandra/config/config_test.go
  pkg/cassandra/config/package_test.go
  plugin/storage/cassandra/factory.go
  plugin/storage/cassandra/factory_test.go
  plugin/storage/cassandra/options.go
  plugin/storage/cassandra/options_test.go
  plugin/storage/cassandra/savetracetest/main.go
Labels: area/storage, storage/cassandra, v2, changelog:exprimental

#6023 [query] Change HTTP and TLS server configurations to use OTEL configurations
  cmd/jaeger/internal/extension/jaegerquery/config.go
  cmd/jaeger/internal/extension/jaegerquery/factory.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/query/app/additional_headers_handler.go
  cmd/query/app/additional_headers_test.go
  cmd/query/app/flags.go
  cmd/query/app/flags_test.go
  cmd/query/app/server.go
  cmd/query/app/server_test.go
  cmd/query/app/static_handler_test.go
  cmd/query/app/token_propagation_test.go
  pkg/config/tlscfg/options.go
  pkg/config/tlscfg/options_test.go
Labels: changelog:breaking-change, area/otel, v2

#6028 [jaeger-v2] Use environment variables in Kafka config
  cmd/jaeger/config-kafka-collector.yaml
  cmd/jaeger/config-kafka-ingester.yaml
  cmd/jaeger/internal/integration/e2e_integration.go
  cmd/jaeger/internal/integration/kafka_test.go
Labels: storage/kafka, v2, changelog:exprimental
