Repository jaegertracing/jaeger, pull requests merged in 2024-08, with the labels that each got.

#5798 [v2] Use "jaeger" namespace for metrics from storage extension
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
Labels: area/storage, v2, changelog:exprimental

#5802 [v2] Enable remote sampling extension and include in e2e tests
  .github/workflows/ci-docker-all-in-one.yml
  cmd/all-in-one/all_in_one_test.go
  cmd/jaeger/Dockerfile
  cmd/jaeger/internal/all-in-one.yaml
  cmd/jaeger/internal/extension/remotesampling/extension.go
  cmd/jaeger/internal/extension/remotesampling/factory.go
  cmd/jaeger/sampling-strategies.json
  scripts/build-all-in-one-image.sh
Labels: area/sampling, v2, changelog:exprimental, docker

#5811 Update expected codecov flags count to 19
  .codecov.yml
Labels: changelog:ci

#5810 Added _total suffix to OTEL counter metrics.
  internal/metrics/otelmetrics/factory.go
  internal/metrics/otelmetrics/factory_test.go
  scripts/compare_metrics.py
Labels: area/otel, changelog:exprimental, go

#5809 Clarify release docs slightly
  RELEASE.md
Labels: documentation, changelog:skip

#5819 Added unit tests in pkg/es/config
  pkg/es/config/.nocover
  pkg/es/config/config_test.go
Labels: enhancement, storage/elasticsearch, changelog:test

#5820 Clearer output from lint scripts
  scripts/check-goleak-files.sh
  scripts/check-test-files.sh
Labels: changelog:bugfix-or-minor-feature

#5826 Clean up obselete 'version' tag from docker-compose files
  cmd/tracegen/docker-compose.yml
  crossdock/docker-compose.yml
  crossdock/jaeger-docker-compose.yml
  docker-compose/cassandra/v3/docker-compose.yaml
  docker-compose/cassandra/v4/docker-compose.yaml
  docker-compose/elasticsearch/v6/docker-compose.yml
  docker-compose/elasticsearch/v7/docker-compose.yml
  docker-compose/elasticsearch/v8/docker-compose.yml
  docker-compose/jaeger-docker-compose.yml
  docker-compose/kafka-integration-test/docker-compose.yml
  docker-compose/kafka/docker-compose.yml
  docker-compose/monitor/docker-compose-v2.yml
  docker-compose/monitor/docker-compose.yml
  docker-compose/opensearch/v1/docker-compose.yml
  docker-compose/opensearch/v2/docker-compose.yml
  examples/grafana-integration/docker-compose.yaml
  examples/hotrod/docker-compose-v2.yml
  examples/hotrod/docker-compose.yml
  examples/reverse-proxy/docker-compose.yml
Labels: area/storage, changelog:ci, docker

#5821 Regenerate mocks
  .mockery.yaml
  plugin/storage/grpc/factory_test.go
  plugin/storage/grpc/mocks/PluginCapabilities.go
  plugin/storage/grpc/shared/mocks/PluginCapabilities.go
Labels: area/storage, changelog:test

#5829 Add copyright/license headers to script files
  Makefile
  cmd/agent/Dockerfile
  cmd/all-in-one/Dockerfile
  cmd/anonymizer/Dockerfile
  cmd/collector/Dockerfile
  cmd/es-index-cleaner/Dockerfile
  cmd/es-rollover/Dockerfile
  cmd/ingester/Dockerfile
  cmd/jaeger/Dockerfile
  cmd/query/Dockerfile
  cmd/remote-storage/Dockerfile
  cmd/tracegen/Dockerfile
  crossdock/Dockerfile
  crossdock/rules.mk
  docker-compose/monitor/Makefile
  docker/Makefile
  docker/base/Dockerfile
  docker/debug/Dockerfile
  examples/hotrod/Dockerfile
  pkg/config/tlscfg/testdata/gen-certs.sh
  plugin/storage/cassandra/Dockerfile
  plugin/storage/cassandra/schema/create.sh
  plugin/storage/cassandra/schema/docker.sh
  plugin/storage/cassandra/schema/migration/V002toV003.sh
  plugin/storage/cassandra/schema/migration/v001tov002part1.sh
  plugin/storage/cassandra/schema/migration/v001tov002part2.sh
  scripts/adaptive-sampling-integration-test.sh
  scripts/build-all-in-one-image.sh
  scripts/build-crossdock.sh
  scripts/build-upload-a-docker-image.sh
  scripts/build-upload-docker-images.sh
  scripts/cassandra-integration-test.sh
  scripts/check-go-version.sh
  scripts/check-goleak-files.sh
  scripts/check-semconv-version.sh
  scripts/compare_metrics.py
  scripts/compute-tags.sh
  scripts/compute-tags.test.sh
  scripts/dco_check.py
  scripts/docker-login.sh
  scripts/draft-release.py
  scripts/es-integration-test.sh
  scripts/generate-help-output.sh
  scripts/hotrod-integration-test.sh
  scripts/import-order-cleanup.py
  scripts/kafka-integration-test.sh
  scripts/package-deploy.sh
  scripts/rebuild-ui.sh
  scripts/release-notes.py
  scripts/spm-integration-test.sh
  scripts/update-semconv-version.sh
  scripts/updateLicense.py
  scripts/utils/ids-to-base64.py
Labels: changelog:bugfix-or-minor-feature

#5848 Require manual Go version updates for patch versions
  scripts/check-go-version.sh
Labels: changelog:ci

#5791 Enable Lint Rule: redefines-builtin-id
  .golangci.yml
  cmd/agent/app/configmanager/grpc/manager_test.go
  plugin/sampling/strategyprovider/static/provider.go
Labels: area/sampling, changelog:ci, go

#5852 Add go.mod for Docker Debug Image
  docker/debug/Dockerfile
  docker/debug/go.mod
  docker/debug/go.sum
Labels: changelog:ci, docker, go

#5831 [v2] Configure healthcheck extension
  .github/workflows/ci-docker-all-in-one.yml
  cmd/all-in-one/all_in_one_test.go
  cmd/jaeger/Dockerfile
  cmd/jaeger/internal/all-in-one.yaml
  cmd/jaeger/internal/components.go
  go.mod
  go.sum
  scripts/build-all-in-one-image.sh
Labels: area/otel, v2, changelog:exprimental, docker, go

#5824 [v2] Add legacy formats into e2e kafka integration tests
  cmd/jaeger/internal/integration/kafka_test.go
Labels: storage/kafka, v2, changelog:exprimental

#5860 Pin GitHub Actions dependencies
  .github/workflows/ci-lint-checks.yaml
  .github/workflows/ci-lint-dependabot-config.yml
Labels: changelog:ci

#5873 [fix] Print Kafka logs on test failure
  .github/workflows/ci-e2e-kafka.yml
  scripts/kafka-integration-test.sh
Labels: storage/kafka, changelog:ci

#5874 Define contents permissions on "dependabot validate" workflow
  .github/workflows/ci-lint-dependabot-config.yml
Labels: changelog:ci

#5861 [v2] Configure health check extension for all configs
  cmd/jaeger/config-badger.yaml
  cmd/jaeger/config-cassandra.yaml
  cmd/jaeger/config-elasticsearch.yaml
  cmd/jaeger/config-kafka-collector.yaml
  cmd/jaeger/config-kafka-ingester.yaml
  cmd/jaeger/config-opensearch.yaml
  cmd/jaeger/config-remote-storage.yaml
  cmd/jaeger/config.yaml
  cmd/jaeger/internal/integration/e2e_integration.go
  cmd/jaeger/internal/integration/grpc_test.go
  cmd/jaeger/internal/integration/kafka_test.go
  cmd/jaeger/internal/integration/span_reader.go
  plugin/storage/integration/integration.go
  scripts/kafka-integration-test.sh
Labels: v2, changelog:exprimental

#5877 Clean up gRPC storage config
  plugin/storage/grpc/config.go
  plugin/storage/grpc/config_test.go
  plugin/storage/grpc/factory.go
  plugin/storage/grpc/factory_test.go
  plugin/storage/grpc/options_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#5805 Add hardcoded DB password and username to Cassandra integration test
  cmd/jaeger/config-cassandra.yaml
  docker-compose/cassandra/v3/docker-compose.yaml
  docker-compose/cassandra/v4/docker-compose.yaml
  plugin/storage/integration/cassandra_test.go
  scripts/cassandra-integration-test.sh
Labels: area/storage, storage/cassandra, changelog:ci

#5890 [ci] Add support for v2 tags during build
  Makefile
  Makefile.BuildInfo.mk
  Makefile.Tools.mk
  Makefile.Windows.mk
  scripts/adaptive-sampling-integration-test.sh
  scripts/build-upload-a-docker-image.sh
  scripts/compare_metrics.py
  scripts/compute-tags.sh
  scripts/compute-tags.test.sh
  scripts/compute-version.sh
  scripts/dco_check.py
  scripts/docker-login.sh
  scripts/rebuild-ui.sh
Labels: v2, changelog:ci

#5891 Remove the description of esCleaner.py from plugin/storage/es/README.md
  cmd/es-index-cleaner/README.md
  plugin/storage/es/README.md
Labels: documentation, storage/elasticsearch

#5878 Support Tail Based Sampling Processor From OTEL Collector Extension
  .github/workflows/ci-e2e-tailsampling-processor.yml
  Makefile
  cmd/jaeger/config-tail-sampling-always-sample.yaml
  cmd/jaeger/config-tail-sampling-service-name-policy.yaml
  cmd/jaeger/internal/components.go
  cmd/jaeger/internal/integration/tailsampling_test.go
  docker-compose/tail-sampling/Makefile
  docker-compose/tail-sampling/README.md
  docker-compose/tail-sampling/docker-compose.yml
  docker-compose/tail-sampling/jaeger-v2-config.yml
  docker-compose/tail-sampling/otel-collector-config-connector.yml
  go.mod
  go.sum
Labels: enhancement, area/otel, v2, changelog:exprimental, docker
