Repository jaegertracing/jaeger, pull requests merged in 2024-01, with the labels that each got.

#5035 Upload test report
  .github/workflows/ci-unit-tests-go-tip.yml
  .github/workflows/ci-unit-tests-report.yml
  .github/workflows/ci-unit-tests.yml
  Makefile
  cmd/query/app/handler_archive_test.go
Labels: changelog:ci

#5077 Add goleak tests to cmd/collector/app/handler
  cmd/collector/app/handler/package_test.go
  cmd/collector/app/handler/zipkin_receiver_tls_test.go
Labels: changelog:test

#5076 Added Empty Tests for Examples
  .codecov.yml
  examples/hotrod/cmd/.nocover
  examples/hotrod/cmd/empty_test.go
  examples/hotrod/pkg/delay/.nocover
  examples/hotrod/pkg/delay/empty_test.go
  examples/hotrod/pkg/httperr/.nocover
  examples/hotrod/pkg/httperr/empty_test.go
  examples/hotrod/pkg/log/.nocover
  examples/hotrod/pkg/log/empty_test.go
  examples/hotrod/pkg/pool/.nocover
  examples/hotrod/pkg/pool/empty_test.go
  examples/hotrod/pkg/tracing/.nocover
  examples/hotrod/pkg/tracing/empty_test.go
  examples/hotrod/services/config/.nocover
  examples/hotrod/services/config/empty_test.go
  examples/hotrod/services/customer/.nocover
  examples/hotrod/services/customer/empty_test.go
  examples/hotrod/services/driver/.nocover
  examples/hotrod/services/driver/empty_test.go
  examples/hotrod/services/frontend/.nocover
  examples/hotrod/services/frontend/empty_test.go
  examples/hotrod/services/route/.nocover
  examples/hotrod/services/route/empty_test.go
Labels: changelog:test

#5067 Add gogo/protobuf to OpenTelemetry OTLP data model
  cmd/query/app/apiv3/gateway_test.go
  cmd/query/app/apiv3/http_gateway.go
  cmd/query/app/apiv3/snapshots/FindTraces.json
  cmd/query/app/apiv3/snapshots/GetTrace.json
  model/v2/customtype.go
  model/v2/jsonid.go
  model/v2/jsonid_test.go
  model/v2/marshal_test.go
  model/v2/package_test.go
  model/v2/spanid.go
  model/v2/traceid.go
  otel_proto_patch.sed
  pkg/gogocodec/codec.go
  pkg/gogocodec/codec_test.go
  proto-gen/otel/common/v1/common.pb.go
  proto-gen/otel/resource/v1/resource.pb.go
  proto-gen/otel/trace/v1/trace.pb.go
  scripts/updateLicense.py
Labels: changelog:bugfix-or-minor-feature

#5080 Upgrade Thrift compiler to v0.19 and regenerate types
  Makefile.Thrift.mk
  thrift-gen/agent/GoUnusedProtection__.go
  thrift-gen/agent/agent-consts.go
  thrift-gen/agent/agent.go
  thrift-gen/baggage/GoUnusedProtection__.go
  thrift-gen/baggage/baggage-consts.go
  thrift-gen/baggage/baggage.go
  thrift-gen/jaeger/GoUnusedProtection__.go
  thrift-gen/jaeger/jaeger-consts.go
  thrift-gen/jaeger/jaeger.go
  thrift-gen/sampling/GoUnusedProtection__.go
  thrift-gen/sampling/sampling-consts.go
  thrift-gen/sampling/sampling.go
  thrift-gen/zipkincore/GoUnusedProtection__.go
  thrift-gen/zipkincore/zipkincore-consts.go
  thrift-gen/zipkincore/zipkincore.go
Labels: changelog:bugfix-or-minor-feature

#5082 Publish go tip test report
  .github/workflows/ci-unit-tests-go-tip.yml
  .github/workflows/ci-unit-tests-report.yml
Labels: changelog:ci

#5078 Add test for storage-exporter
  cmd/jaeger/internal/exporters/storageexporter/.nocover
  cmd/jaeger/internal/exporters/storageexporter/exporter_test.go
Labels: changelog:test

#5094 Fix flaky test: plugin/storage/badger/samplingstore
  plugin/storage/badger/samplingstore/storage.go
  plugin/storage/badger/samplingstore/storage_test.go
Labels: changelog:test

#5107 Remove remnants of internal OTLP types
  Makefile.Protobuf.mk
  model/v2/customtype.go
  model/v2/jsonid.go
  model/v2/jsonid_test.go
  model/v2/marshal_test.go
  model/v2/package_test.go
  model/v2/spanid.go
  model/v2/traceid.go
  otel_proto_patch.sed
  pkg/gogocodec/codec.go
  pkg/gogocodec/codec_test.go
  proto-gen/otel/common/v1/common.pb.go
  proto-gen/otel/resource/v1/resource.pb.go
  proto-gen/otel/trace/v1/trace.pb.go
Labels: changelog:breaking-change

#5106 Add Goleak check to cmd/jaeger/internal/exporters/storageexporter
  cmd/jaeger/internal/exporters/storageexporter/package_test.go
Labels: changelog:test

#5105 Added test on plugin/sampling/strategystore/adaptive/options
  plugin/sampling/strategystore/adaptive/options_test.go
Labels: changelog:test

#5101 fix leaks in cmd/agent/app
  cmd/agent/app/agent_test.go
  cmd/agent/app/builder.go
  cmd/agent/app/builder_test.go
  cmd/agent/app/package_test.go
  cmd/agent/app/proxy_builders.go
  cmd/agent/main.go
  cmd/all-in-one/main.go
Labels: changelog:test

#5096 Add tests for cmd/jaeger/internal/extension/jaegerstorage
  cmd/jaeger/internal/extension/jaegerstorage/.nocover
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
Labels: changelog:test

#5121 Avoid changing a correct order of span references
  model/adjuster/parent_reference.go
  model/adjuster/parent_reference_test.go
Labels: changelog:bugfix-or-minor-feature

#5126 Remove test summary reports
  .github/workflows/ci-unit-tests-go-tip.yml
  .github/workflows/ci-unit-tests-report.yml
  .github/workflows/ci-unit-tests.yml
  Makefile
Labels: changelog:ci

#5119 Added unit tests in internal/tracegen
  internal/tracegen/.nocover
  internal/tracegen/config_test.go
  internal/tracegen/worker_test.go
Labels: changelog:test

#5125 Add goleak checks in 2 packages
  cmd/jaeger/internal/extension/jaegerstorage/package_test.go
  pkg/version/package_test.go
Labels: changelog:test

#5128 [test] Add per-test goleak check for storage/es
  pkg/testutils/leakcheck.go
  pkg/testutils/leakcheck_test.go
  plugin/storage/es/factory_test.go
Labels: changelog:test

#5112 [jaeger-v2] Add support for Badger
  .github/workflows/ci-kafka.yml
  cmd/jaeger/badger_config.yaml
  cmd/jaeger/config.yaml
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  plugin/storage/badger/factory.go
  plugin/storage/badger/factory_test.go
  scripts/kafka-integration-test.sh
Labels: changelog:new-feature

#5134 testifylint: enable compares
  .golangci.yml
  cmd/agent/app/reporter/grpc/builder_test.go
  cmd/agent/app/reporter/grpc/collector_proxy_test.go
  cmd/query/app/server_test.go
  crossdock/services/tracehandler_test.go
  model/adjuster/adjuster_test.go
  model/converter/thrift/zipkin/process_hashtable_test.go
  pkg/es/client/index_client_test.go
  pkg/metrics/metrics_test.go
  plugin/sampling/strategystore/static/strategy_store_test.go
  plugin/storage/badger/factory_test.go
  plugin/storage/badger/stats_linux_test.go
  plugin/storage/integration/trace_compare.go
Labels: changelog:test

#5137 Upgrade OpenTelemetry SDK to v1.22.0
  cmd/tracegen/main.go
  examples/hotrod/pkg/tracing/init.go
  examples/hotrod/pkg/tracing/rpcmetrics/observer.go
  examples/hotrod/pkg/tracing/rpcmetrics/observer_test.go
  examples/hotrod/services/customer/database.go
  go.mod
  go.sum
  model/adjuster/otel_tag.go
  model/adjuster/otel_tag_test.go
  pkg/jtracer/jtracer.go
  plugin/metrics/prometheus/metricsstore/reader.go
  plugin/storage/cassandra/spanstore/reader.go
Labels: changelog:dependencies

#5142 Replace security self-assesment with one from cncf/tag-security
  SECURITY-INSIGHTS.yml
  SELF-ASSESMENT.md
Labels: changelog:bugfix-or-minor-feature

#5146 Fix future release date
  RELEASE.md
Labels: changelog:skip

#5147 Add go routine leak check in `./internal/tracegen/`
  internal/tracegen/package_test.go
Labels: changelog:test

#5154 Add reliable check for Kafka broker being ready
  scripts/kafka-integration-test.sh
Labels: changelog:test

#5153 Add tests for pkg/cassandra/gocql/testutils
  pkg/cassandra/gocql/testutils/.nocover
  pkg/cassandra/gocql/testutils/udt_test.go
Labels: changelog:test
