Repository jaegertracing/jaeger, pull requests merged in 2024-11, with the labels that each got.

#6147 [query] Move trace handler to server level
  cmd/query/app/http_handler.go
  cmd/query/app/server.go
  cmd/query/app/trace_response_handler.go
  cmd/query/app/trace_response_handler_test.go
Labels: changelog:bugfix-or-minor-feature

#6148 [spm] Remove Grafana from examples
  docker-compose/monitor/README.md
  docker-compose/monitor/docker-compose-v2.yml
  docker-compose/monitor/docker-compose.yml
Labels: changelog:skip, docker

#6142 Added Label Validation in SPM Integration Test
  scripts/spm-integration-test.sh
Labels: changelog:test

#6115 Crossdock sampling redirection to collector
  crossdock/docker-compose.yml
  crossdock/main.go
  crossdock/services/agent.go
  crossdock/services/agent_test.go
  crossdock/services/tracehandler.go
Labels: area/sampling, changelog:test

#6140 Log time settings in CI
  .github/workflows/ci-e2e-elasticsearch.yml
  cmd/jaeger/config-badger.yaml
  cmd/jaeger/config-cassandra.yaml
  cmd/jaeger/config-elasticsearch.yaml
  cmd/jaeger/config-kafka-collector.yaml
  cmd/jaeger/config-kafka-ingester.yaml
  cmd/jaeger/config-opensearch.yaml
  cmd/jaeger/config-remote-storage.yaml
  cmd/jaeger/config-tail-sampling-always-sample.yaml
  cmd/jaeger/config-tail-sampling-service-name-policy.yaml
  cmd/jaeger/config.yaml
  cmd/jaeger/internal/all-in-one.yaml
  plugin/storage/es/spanstore/reader.go
  plugin/storage/es/spanstore/reader_test.go
  plugin/storage/es/spanstore/writer.go
  plugin/storage/es/spanstore/writer_test.go
  plugin/storage/integration/integration.go
  scripts/spm-integration-test.sh
Labels: storage/elasticsearch, changelog:skip

#6158 (spm) Cleanup grafana
  docker-compose/monitor/Makefile
  docker-compose/monitor/README.md
  docker-compose/monitor/grafana.ini
Labels: changelog:skip, docker

#6161 chore: use Contains or ErrorContains with testify
  cmd/agent/app/builder_test.go
  cmd/agent/app/configmanager/grpc/manager_test.go
  cmd/agent/app/reporter/grpc/builder_test.go
  cmd/agent/app/reporter/grpc/flags_test.go
  cmd/agent/app/reporter/grpc/reporter_test.go
  cmd/anonymizer/app/uiconv/extractor_test.go
  cmd/anonymizer/app/uiconv/module_test.go
  cmd/anonymizer/app/uiconv/reader_test.go
  cmd/collector/app/collector_test.go
  cmd/collector/app/flags/flags_test.go
  cmd/collector/app/handler/grpc_handler_test.go
  cmd/collector/app/handler/otlp_receiver_test.go
  cmd/collector/app/handler/zipkin_receiver_test.go
  cmd/es-rollover/app/init/action_test.go
  cmd/internal/docs/command_test.go
  cmd/internal/env/command_test.go
  cmd/internal/flags/admin_test.go
  cmd/internal/flags/service_test.go
  cmd/jaeger/internal/exporters/storageexporter/exporter_test.go
  cmd/jaeger/internal/integration/storagecleaner/extension_test.go
  cmd/query/app/apiv3/grpc_handler_test.go
  cmd/query/app/flags_test.go
  cmd/query/app/grpc_handler_test.go
  cmd/query/app/http_handler_test.go
  cmd/query/app/query_parser_test.go
  cmd/query/app/static_handler_test.go
  cmd/remote-storage/app/flags_test.go
  cmd/remote-storage/app/server_test.go
  model/span_test.go
  model/spanref_test.go
  pkg/bearertoken/grpc_test.go
  pkg/clientcfg/clientcfghttp/handler_test.go
  pkg/config/tlscfg/cert_watcher_test.go
  pkg/config/tlscfg/flags_test.go
  pkg/config/tlscfg/options_test.go
  pkg/es/client/cluster_client_test.go
  pkg/es/client/ilm_client_test.go
  pkg/es/client/index_client_test.go
  pkg/gzipfs/gzip_test.go
  plugin/metrics/prometheus/metricsstore/reader_test.go
  plugin/sampling/strategyprovider/static/provider_test.go
  plugin/storage/badger/factory_test.go
  plugin/storage/cassandra/dependencystore/storage_test.go
  plugin/storage/cassandra/factory_test.go
  plugin/storage/cassandra/spanstore/dbmodel/converter_test.go
  plugin/storage/cassandra/spanstore/reader_test.go
  plugin/storage/es/factory_test.go
  plugin/storage/es/spanstore/dbmodel/to_domain_test.go
  plugin/storage/es/spanstore/writer_test.go
  plugin/storage/grpc/factory_test.go
Labels: changelog:test

#6160 chore: enable err-error and errorf rules from perfsprint linter
  .golangci.yml
  cmd/anonymizer/app/uiconv/reader.go
  cmd/collector/app/handler/http_thrift_handler_test.go
  cmd/collector/app/span_processor_test.go
  cmd/es-index-cleaner/main.go
  cmd/es-rollover/app/init/action.go
  cmd/jaeger/internal/extension/jaegerquery/server_test.go
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  cmd/jaeger/internal/integration/storagecleaner/extension_test.go
  cmd/query/app/apiv3/grpc_handler_test.go
  cmd/query/app/flags.go
  cmd/query/app/grpc_handler_test.go
  cmd/query/app/http_handler_test.go
  cmd/query/app/static_handler_test.go
  crossdock/services/tracehandler.go
  internal/tracegen/config.go
  model/ids.go
  pkg/bearertoken/grpc.go
  pkg/config/tlscfg/options.go
  pkg/config/tlscfg/options_test.go
  pkg/es/config/config.go
  pkg/es/errors_test.go
  plugin/storage/es/factory.go
  plugin/storage/es/samplingstore/storage.go
  plugin/storage/es/spanstore/dbmodel/to_domain_test.go
  plugin/storage/factory_test.go
  plugin/storage/grpc/factory.go
  plugin/storage/grpc/shared/grpc_handler_test.go
  plugin/storage/grpc/shared/streaming_writer.go
Labels: changelog:bugfix-or-minor-feature

#6162 chore: use testify instead of t.Fatal
  cmd/agent/app/agent_test.go
  internal/metrics/prometheus/factory_test.go
  pkg/gogocodec/codec_test.go
  plugin/storage/integration/elasticsearch_test.go
Labels: changelog:test

#6164 chore: enable all rules of perfsprint linter
  .golangci.yml
  cmd/agent/app/reporter/flags.go
  cmd/collector/app/server/http_test.go
  cmd/ingester/app/consumer/consumer_test.go
  cmd/internal/status/command.go
  cmd/jaeger/internal/sanitizer/utf8_test.go
  crossdock/services/common.go
  crossdock/services/tracehandler_test.go
  examples/hotrod/pkg/log/spanlogger.go
  model/span_test.go
  pkg/es/client/client.go
  pkg/es/client/ilm_client.go
  pkg/es/client/index_client.go
  pkg/fswatcher/fswatcher.go
  pkg/testutils/logger_test.go
  plugin/sampling/leaderelection/leader_election_test.go
  plugin/storage/badger/factory_test.go
  plugin/storage/badger/spanstore/read_write_test.go
  plugin/storage/es/spanstore/reader.go
  plugin/storage/es/spanstore/service_operation.go
  plugin/storage/integration/es_index_cleaner_test.go
Labels: changelog:bugfix-or-minor-feature

#6184 Fix possible null pointer deference
  plugin/storage/grpc/shared/grpc_client.go
Labels: bug, changelog:bugfix-or-minor-feature

#6189 Relax regex in draft-release.py
  scripts/draft-release.py
Labels: changelog:skip

#6194 Add Alauda to adopters list
  ADOPTERS.md
Labels: documentation, changelog:skip

#6179 Respect environment variables when creating internal tracer
  pkg/jtracer/jtracer.go
Labels: changelog:bugfix-or-minor-feature, area/otel

#6191 Parallelize the unit tests
  cmd/agent/app/builder_test.go
  cmd/agent/app/reporter/grpc/builder_test.go
Labels: performance, changelog:test

#6195 [chore][deps] Bump golangci-lint to 1.62.0 and fix linting errors
  cmd/es-rollover/app/rollover/flags_test.go
  cmd/ingester/app/consumer/offset/concurrent_list_test.go
  internal/tools/go.mod
  internal/tools/go.sum
  model/spanref_test.go
  pkg/cache/cache.go
  pkg/discovery/grpcresolver/grpc_resolver.go
  pkg/testutils/logger_test.go
  pkg/version/handler_test.go
  plugin/sampling/strategyprovider/static/provider_test.go
Labels: changelog:dependencies

#6197 [chore][deps] Bump otel-collector to 0.113.0 and fix failing unit test
  go.mod
  go.sum
  plugin/storage/grpc/factory_test.go
Labels: area/storage, changelog:dependencies

#6204 fix: TestCreateCollectorProxy unit test failing on go-tip
  cmd/agent/app/reporter/connect_metrics.go
Labels: bug, changelog:bugfix-or-minor-feature

#6206 [v2] Update versions in README
  cmd/jaeger/README.md
  examples/hotrod/docker-compose-v2.yml
  scripts/build-hotrod-image.sh
Labels: changelog:bugfix-or-minor-feature, v2

#6216 [chore][storage_v2] move `factoryadapter` to `storage_v2`
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  storage_v2/factoryadapter/README.md
  storage_v2/factoryadapter/factory.go
  storage_v2/factoryadapter/factory_test.go
  storage_v2/factoryadapter/package_test.go
  storage_v2/factoryadapter/writer.go
  storage_v2/factoryadapter/writer_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6217 [fix][ci] Change the prometheus healthcheck endpoint
  docker-compose/monitor/README.md
  scripts/spm-integration-test.sh
Labels: changelog:ci

#6214 Pass username/password to Cassandra docker-compose health check
  docker-compose/cassandra/v4/docker-compose.yaml
  docker-compose/cassandra/v5/docker-compose.yaml
  scripts/cassandra-integration-test.sh
Labels: storage/cassandra, changelog:ci, docker

#6173 Pass real MeterProvider to components
  cmd/all-in-one/main.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/query/app/server.go
  cmd/query/app/server_test.go
  cmd/query/app/token_propagation_test.go
  cmd/query/main.go
  cmd/remote-storage/app/server_test.go
  cmd/remote-storage/main.go
  pkg/telemetery/settings.go
  plugin/storage/grpc/factory.go
  plugin/storage/grpc/factory_test.go
  plugin/storage/integration/remote_memory_storage.go
Labels: changelog:bugfix-or-minor-feature

#6221 [storage][v2] Add reader adapter that just exposes the underlying v1 reader
  storage_v2/factoryadapter/factory.go
  storage_v2/factoryadapter/factory_test.go
  storage_v2/factoryadapter/reader.go
  storage_v2/factoryadapter/reader_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6226 Remove 0.0.0.0 overrides in HotROD CI
  cmd/jaeger/internal/all-in-one.yaml
  examples/hotrod/docker-compose-v2.yml
Labels: changelog:bugfix-or-minor-feature, docker

#6231 Parameterize listen host and override when in container
  cmd/jaeger/Dockerfile
  cmd/jaeger/internal/all-in-one.yaml
Labels: changelog:bugfix-or-minor-feature, docker

#6227 Use confighttp in expvar extension
  cmd/jaeger/internal/all-in-one.yaml
  cmd/jaeger/internal/extension/expvar/config.go
  cmd/jaeger/internal/extension/expvar/extension.go
  cmd/jaeger/internal/extension/expvar/extension_test.go
  cmd/jaeger/internal/extension/expvar/factory.go
Labels: changelog:bugfix-or-minor-feature

#6239 [fix][query] Fix misconfiguration in TLS settings from using OTEL HTTP helper
  cmd/query/app/server.go
  cmd/query/app/server_test.go
Labels: bug, changelog:bugfix-or-minor-feature

#6241 [fix][test] Fix query server unit tests to check for status code
  cmd/query/app/server_test.go
Labels: bug, changelog:test

#6247 Allow using different container runtime
  Makefile.Protobuf.mk
Labels: changelog:ci

#6244 [storage_v1] Add time window to GetTraceRequest
  plugin/storage/grpc/proto/storage.proto
  plugin/storage/grpc/proto/storage_test.proto
  plugin/storage/grpc/proto/storage_v1/storage_test.go
  plugin/storage/grpc/proto/storageprototest/storage_test.pb.go
  proto-gen/storage_v1/storage.pb.go
Labels: enhancement, area/storage, changelog:bugfix-or-minor-feature

#5941 [V2]Add Script for metrics markdown table
  cmd/jaeger/docs/migration/all-in-one-metrics.md
  cmd/jaeger/docs/migration/badger-metrics.md
  cmd/jaeger/docs/migration/cassandra-metrics.md
  cmd/jaeger/docs/migration/elasticsearch-metrics.md
  cmd/jaeger/docs/migration/opensearch-metrics.md
  scripts/compare_metrics.py
  scripts/utils/compare_metrics.py
  scripts/utils/metrics-md.py
Labels: v2, changelog:exprimental

#6255 [refactor][metrics] Rename span storage metrics decorator package / functions
  cmd/all-in-one/main.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/query/main.go
  pkg/cassandra/metrics/table.go
  pkg/es/config/config.go
  plugin/storage/es/spanstore/writer.go
  storage/spanstore/spanstoremetrics/decorator_test.go
  storage/spanstore/spanstoremetrics/package_test.go
  storage/spanstore/spanstoremetrics/read_metrics.go
  storage/spanstore/spanstoremetrics/write_metrics.go
  storage/spanstore/spanstoremetrics/write_metrics_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6257 [refactor] Normalize jaegerstorage names
  cmd/jaeger/internal/exporters/storageexporter/exporter_test.go
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/config_test.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  cmd/jaeger/internal/extension/remotesampling/extension_test.go
  cmd/jaeger/internal/processors/adaptivesampling/processor_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6256 [refactor] Move SPM v2 config to cmd/jaeger/ with all other configs
  cmd/jaeger/config-spm.yaml
  docker-compose/monitor/README.md
  docker-compose/monitor/docker-compose-v2.yml
Labels: changelog:bugfix-or-minor-feature, v2

#6260 [v2] Use only version number for BuildInfo
  cmd/jaeger/internal/command.go
Labels: changelog:bugfix-or-minor-feature

#6261 Use real metrics factory instead of NullFactory
  cmd/jaeger/internal/extension/remotesampling/extension.go
  plugin/sampling/strategyprovider/adaptive/factory.go
Labels: changelog:bugfix-or-minor-feature

#6262 [fix] Use metrics decorator around MetricStorage
  cmd/all-in-one/main.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  cmd/query/main.go
  docker-compose/monitor/docker-compose-v2.yml
  storage/metricsstore/metricstoremetrics/decorator.go
  storage/metricsstore/metricstoremetrics/decorator_test.go
  storage/spanstore/spanstoremetrics/read_metrics_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6266 [prometheus] Use OTEL helper instead of tlscfg package
  pkg/prometheus/config/config.go
  plugin/metrics/prometheus/metricsstore/reader.go
  plugin/metrics/prometheus/metricsstore/reader_test.go
  plugin/metrics/prometheus/options.go
Labels: changelog:bugfix-or-minor-feature

#6268 [chore][fix] Rename `NewWriteDecorator` to `NewWriter`
  pkg/es/config/config.go
  plugin/storage/es/spanstore/writer.go
  storage/spanstore/spanstoremetrics/write_metrics.go
  storage/spanstore/spanstoremetrics/write_metrics_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6269 [refactor] Fix package misspelling: telemetery->telemetry
  CHANGELOG.md
  cmd/all-in-one/main.go
  cmd/jaeger/config-badger.yaml
  cmd/jaeger/config-cassandra.yaml
  cmd/jaeger/config-elasticsearch.yaml
  cmd/jaeger/config-opensearch.yaml
  cmd/jaeger/config-remote-storage.yaml
  cmd/jaeger/config-tail-sampling-always-sample.yaml
  cmd/jaeger/config-tail-sampling-service-name-policy.yaml
  cmd/jaeger/config.yaml
  cmd/jaeger/internal/all-in-one.yaml
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/query/app/server.go
  cmd/query/app/server_test.go
  cmd/query/app/token_propagation_test.go
  cmd/query/main.go
  cmd/remote-storage/app/server.go
  cmd/remote-storage/app/server_test.go
  cmd/remote-storage/main.go
  pkg/telemetry/settings.go
  pkg/telemetry/settings_test.go
  plugin/storage/grpc/factory.go
  plugin/storage/grpc/factory_test.go
  plugin/storage/integration/remote_memory_storage.go
Labels: changelog:bugfix-or-minor-feature

#6270 [kafka] OTEL helper instead of tlscfg package
  cmd/ingester/app/flags_test.go
  cmd/ingester/main.go
  pkg/kafka/auth/config.go
  pkg/kafka/auth/config_test.go
  pkg/kafka/auth/tls.go
  pkg/kafka/auth/tls_test.go
  plugin/storage/kafka/factory.go
  plugin/storage/kafka/options_test.go
Labels: changelog:bugfix-or-minor-feature, storage/kafka, area/otel

#6275 Improve telemetry.Settings
  cmd/all-in-one/main.go
  cmd/collector/main.go
  cmd/ingester/main.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerquery/server_test.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/query/app/flags.go
  cmd/query/app/querysvc/query_service.go
  cmd/query/app/server.go
  cmd/query/app/server_test.go
  cmd/query/app/token_propagation_test.go
  cmd/query/main.go
  cmd/remote-storage/app/server.go
  cmd/remote-storage/app/server_test.go
  cmd/remote-storage/main.go
  crossdock/main.go
  pkg/telemetry/settings.go
  pkg/telemetry/settings_test.go
  plugin/storage/grpc/factory.go
  plugin/storage/grpc/factory_test.go
  plugin/storage/integration/remote_memory_storage.go
  storage/factory.go
  storage/mocks/BaseFactory.go
Labels: area/storage, changelog:bugfix-or-minor-feature, area/otel

#6281 test: Add test for kafka/auth/options.go file
  pkg/kafka/auth/options_test.go
Labels: storage/kafka, changelog:test

#6254 [test] Explicitly test writing traces with duplicate span ids
  plugin/storage/integration/integration.go
Labels: area/storage, changelog:test

#5922 Create Cassandra db schema on session initialization
  .github/workflows/ci-e2e-cassandra.yml
  cmd/jaeger/config-cassandra.yaml
  pkg/cassandra/config/config.go
  pkg/cassandra/config/config_test.go
  plugin/storage/cassandra/factory.go
  plugin/storage/cassandra/factory_test.go
  plugin/storage/cassandra/options.go
  plugin/storage/cassandra/savetracetest/main.go
  plugin/storage/cassandra/schema/package_test.go
  plugin/storage/cassandra/schema/schema.go
  plugin/storage/cassandra/schema/schema_test.go
  plugin/storage/cassandra/schema/v004-go-tmpl.cql.tmpl
  scripts/cassandra-integration-test.sh
Labels: area/storage, changelog:new-feature, storage/cassandra

#6280 [v2][storage] Move span reader decorator to storage factories
  cmd/all-in-one/main.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/query/main.go
  plugin/storage/badger/factory.go
  plugin/storage/cassandra/factory.go
  plugin/storage/es/factory.go
  plugin/storage/es/spanstore/reader.go
  plugin/storage/es/spanstore/reader_test.go
  plugin/storage/factory.go
  plugin/storage/grpc/factory.go
  plugin/storage/grpc/factory_test.go
  plugin/storage/memory/factory.go
  plugin/storage/memory/factory_test.go
Labels: area/storage, storage/elasticsearch, changelog:breaking-change, storage/badger, storage/cassandra, v2
