Repository jaegertracing/jaeger, pull requests merged in 2024-03, with the labels that each got.

#5242 [jaeger-v2] Add support for artificial jaeger storage receiver
  cmd/jaeger/integration/receivers/storagereceiver/README.md
  cmd/jaeger/integration/receivers/storagereceiver/config.go
  cmd/jaeger/integration/receivers/storagereceiver/config_test.go
  cmd/jaeger/integration/receivers/storagereceiver/factory.go
  cmd/jaeger/integration/receivers/storagereceiver/factory_test.go
  cmd/jaeger/integration/receivers/storagereceiver/package_test.go
  cmd/jaeger/integration/receivers/storagereceiver/receiver.go
  cmd/jaeger/integration/receivers/storagereceiver/receiver_test.go
  cmd/jaeger/integration/receivers/storagereceiver/testdata/config.yaml
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  go.mod
  go.sum
Labels: changelog:test

#5256 Enhance release-notes script to add missing parts
  CHANGELOG.md
  RELEASE.md
  scripts/release-notes.py
Labels: changelog:skip

#5250 Fix goroutine leaks in cmd/remote-storage/app
  cmd/remote-storage/app/package_test.go
  cmd/remote-storage/app/server.go
  cmd/remote-storage/app/server_test.go
Labels: changelog:test

#5263 [kafka-producer] Support setting max message size
  pkg/kafka/producer/config.go
  plugin/storage/kafka/options.go
  plugin/storage/kafka/options_test.go
Labels: changelog:bugfix-or-minor-feature

#5273 Fix HotROD instructions
  examples/hotrod/README.md
Labels: changelog:breaking-change

#5272 Github Actions Added to Block PRs from fork/main branch
  .github/actions/block-pr-not-on-main/action.yml
  .github/workflows/ci-lint-checks.yaml
Labels: changelog:ci

#5253 [jaeger-v2] Add support for Cassandra
  cmd/jaeger/cassandra_config.yaml
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  pkg/cassandra/config/config.go
  plugin/storage/cassandra/factory.go
  plugin/storage/cassandra/factory_test.go
Labels: v2, changelog:exprimental

#5259 [jaeger-v2] add GRPC storage backend integration test
  .codecov.yml
  .github/workflows/ci-badger.yaml
  .github/workflows/ci-grpc.yml
  .gitignore
  Makefile
  cmd/jaeger/internal/command.go
  cmd/jaeger/internal/components.go
  cmd/jaeger/internal/components_test.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  cmd/jaeger/internal/integration/README.md
  cmd/jaeger/internal/integration/datareceivers/.nocover
  cmd/jaeger/internal/integration/datareceivers/jaegerstorage.go
  cmd/jaeger/internal/integration/fixtures/generated_pict_pairs_spans.txt
  cmd/jaeger/internal/integration/fixtures/generated_pict_pairs_traces.txt
  cmd/jaeger/internal/integration/fixtures/grpc_config.yaml
  cmd/jaeger/internal/integration/fixtures/pict_input_spans.txt
  cmd/jaeger/internal/integration/fixtures/pict_input_traces.txt
  cmd/jaeger/internal/integration/grpc_test.go
  cmd/jaeger/internal/integration/integration-diagram.png
  cmd/jaeger/internal/integration/integration.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/README.md
  cmd/jaeger/internal/integration/receivers/storagereceiver/config.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/config_test.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/factory.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/factory_test.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/package_test.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/receiver.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/receiver_test.go
  cmd/jaeger/internal/integration/receivers/storagereceiver/testdata/config.yaml
  go.mod
  go.sum
  plugin/storage/es/factory_test.go
  scripts/grpc-integration-test.sh
Labels: changelog:ci

#5283 [kafka-consumer] Add support for setting fetch message max bytes
  cmd/ingester/app/builder/builder.go
  cmd/ingester/app/flags.go
  cmd/ingester/app/flags_test.go
  pkg/kafka/consumer/config.go
Labels: changelog:bugfix-or-minor-feature

#5282 Docs: Badger file permission as non-root service
  plugin/storage/badger/docs/storage-file-non-root-permission.md
Labels: changelog:bugfix-or-minor-feature

#5257 [jaeger-v2] Add support for Opensearch
  cmd/jaeger/config-opensearch.yaml
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
Labels: v2, changelog:exprimental

#5291 Replaced the deprecated logging exporter to debug exporter
  cmd/jaeger/internal/components.go
  go.mod
  go.sum
Labels: changelog:skip

#5292 Fix test goroutine leaks in ./cmd/collector/app/
  cmd/collector/app/collector.go
  cmd/collector/app/collector_test.go
  cmd/collector/app/metrics_test.go
  cmd/collector/app/package_test.go
  cmd/collector/app/span_handler_builder_test.go
  cmd/collector/app/span_processor_test.go
  internal/metricstest/local.go
Labels: changelog:test

#5295 Use math.MaxUint64 instead of 0xffffffffffffffff
  model/adjuster/span_id_deduper.go
Labels: changelog:skip

#5300 Call testutils.VerifyGoLeaks in cmd/internal/printconfig tests
  cmd/internal/printconfig/command_test.go
Labels: changelog:test

#5304 Add goleak check in pkg/cassandra/gocql/testutils
  pkg/cassandra/gocql/testutils/udt_test.go
Labels: changelog:test

#5308 Refactor healthcheck signalling between server and service
  cmd/all-in-one/main.go
  cmd/internal/flags/service.go
  cmd/internal/flags/service_test.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/query/app/server.go
  cmd/query/app/server_test.go
  cmd/query/app/token_propagation_test.go
  cmd/query/main.go
  cmd/remote-storage/app/server.go
  cmd/remote-storage/app/server_test.go
  cmd/remote-storage/main.go
Labels: changelog:bugfix-or-minor-feature

#5299 Fix goroutine leaks in cmd/query/app
  cmd/query/app/http_handler_test.go
  cmd/query/app/package_test.go
  cmd/query/app/server.go
  cmd/query/app/server_test.go
  cmd/query/app/static_handler.go
  cmd/query/app/static_handler_test.go
  cmd/query/app/token_propagation_test.go
Labels: changelog:test

#5309 Fix goroutine leaks in prometheus/metricsstore tests
  plugin/metrics/prometheus/metricsstore/reader_test.go
Labels: changelog:test

#5207 Move Archive test into shared integration test suite
  plugin/storage/integration/badgerstore_test.go
  plugin/storage/integration/cassandra_test.go
  plugin/storage/integration/elasticsearch_test.go
  plugin/storage/integration/grpc_test.go
  plugin/storage/integration/integration.go
  plugin/storage/integration/kafka_test.go
  plugin/storage/integration/memstore_test.go
Labels: changelog:test

#5310 Fix goroutine leaks in plugin/sampling/strategystore/adaptive
  cmd/collector/app/collector_test.go
  cmd/collector/app/sampling/grpc_handler_test.go
  cmd/collector/app/sampling/strategystore/interface.go
  cmd/collector/app/server/test.go
  pkg/clientcfg/clientcfghttp/cfgmgr_test.go
  plugin/sampling/strategystore/adaptive/factory_test.go
  plugin/sampling/strategystore/adaptive/package_test.go
  plugin/sampling/strategystore/adaptive/processor.go
  plugin/sampling/strategystore/adaptive/processor_test.go
  plugin/sampling/strategystore/static/strategy_store.go
Labels: changelog:test

#5312 [storage] Simplify integration tests
  Makefile
  plugin/storage/integration/badgerstore_test.go
  plugin/storage/integration/cassandra_test.go
  plugin/storage/integration/elasticsearch_test.go
  plugin/storage/integration/es_index_cleaner_test.go
  plugin/storage/integration/es_index_rollover_test.go
  plugin/storage/integration/grpc_test.go
  plugin/storage/integration/integration.go
  plugin/storage/integration/kafka_test.go
  plugin/storage/integration/memstore_test.go
Labels: changelog:test

#5315 Fix false positive goleak test
  pkg/cassandra/gocql/testutils/udt_test.go
  pkg/testutils/leakcheck_test.go
Labels: changelog:test
