Repository jaegertracing/jaeger, pull requests merged in 2025-07, with the labels that each got.

#7228 [cassandra] Give responsibility of creating v2 factory to storage backend
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  internal/storage/integration/cassandra_test.go
  internal/storage/v1/cassandra/factory.go
  internal/storage/v1/cassandra/factory_test.go
  internal/storage/v1/cassandra/helper.go
  internal/storage/v2/cassandra/factory.go
  internal/storage/v2/cassandra/factory_test.go
  internal/storage/v2/cassandra/package_test.go
Labels: area/storage, storage/cassandra, v2, changelog:exprimental

#7272 [es] Materialize span.kind and span.status tags
  internal/storage/v2/elasticsearch/factory.go
  internal/storage/v2/elasticsearch/factory_test.go
Labels: area/storage, storage/elasticsearch, changelog:breaking-change, v2

#7229 [spm] GetCallRate implementation
  internal/storage/metricstore/elasticsearch/README.md
  internal/storage/metricstore/elasticsearch/factory.go
  internal/storage/metricstore/elasticsearch/query_logger.go
  internal/storage/metricstore/elasticsearch/query_logger_test.go
  internal/storage/metricstore/elasticsearch/reader.go
  internal/storage/metricstore/elasticsearch/reader_test.go
  internal/storage/metricstore/elasticsearch/testdata/output_call_rate.json
  internal/storage/metricstore/elasticsearch/testdata/output_call_rate_operation.json
  internal/storage/metricstore/elasticsearch/testdata/output_empty.json
  internal/storage/metricstore/elasticsearch/testdata/output_error_es.json
  internal/storage/metricstore/elasticsearch/testdata/output_latencies.json
  internal/storage/metricstore/elasticsearch/testdata/output_valid_es.json
  internal/storage/metricstore/elasticsearch/to_domain.go
  internal/storage/metricstore/elasticsearch/to_domain_test.go
Labels: enhancement, area/storage, storage/elasticsearch, changelog:exprimental

#7289 Added custom timeout to docker-all-in-one CI job
  .github/workflows/ci-docker-all-in-one.yml
Labels: changelog:skip, docker

#7295 Refactor metricstore/elasticsearch/reader.go
  internal/storage/metricstore/elasticsearch/reader.go
  internal/storage/metricstore/elasticsearch/reader_test.go
  internal/storage/metricstore/elasticsearch/testdata/output_call_rate.json
  internal/storage/metricstore/elasticsearch/testdata/output_call_rate_operation.json
  internal/storage/metricstore/elasticsearch/to_domain.go
  internal/storage/metricstore/elasticsearch/to_domain_test.go
Labels: storage/elasticsearch, changelog:exprimental

#7290 [spm] GetLatencies Implementation
  internal/storage/metricstore/elasticsearch/README.md
  internal/storage/metricstore/elasticsearch/reader.go
  internal/storage/metricstore/elasticsearch/reader_test.go
  internal/storage/metricstore/elasticsearch/testdata/output_error_latencies.json
  internal/storage/metricstore/elasticsearch/testdata/output_latencies.json
  internal/storage/metricstore/elasticsearch/testdata/output_latencies_50.json
  internal/storage/metricstore/elasticsearch/testdata/output_latencies_75.json
  internal/storage/metricstore/elasticsearch/testdata/output_latencies_95.json
  internal/storage/metricstore/elasticsearch/testdata/output_latencies_operation.json
  internal/storage/metricstore/elasticsearch/to_domain.go
Labels: enhancement, area/storage, storage/elasticsearch, changelog:exprimental

#7297 Refactor metricstore/es/reader.go by introducing queryBuilder
  internal/storage/metricstore/elasticsearch/query_builder.go
  internal/storage/metricstore/elasticsearch/query_builder_test.go
  internal/storage/metricstore/elasticsearch/reader.go
  internal/storage/metricstore/elasticsearch/to_domain.go
Labels: storage/elasticsearch, changelog:refactoring

#7299 [badger] Give responsibility of creating v2 factory to storage backend
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  internal/storage/integration/badgerstore_test.go
  internal/storage/v1/badger/factory.go
  internal/storage/v1/badger/factory_test.go
  internal/storage/v2/badger/factory.go
  internal/storage/v2/badger/factory_test.go
  internal/storage/v2/badger/package_test.go
Labels: storage/badger, v2, changelog:refactoring

#7300 Add Jaeger Demo Monitoring Setup with Deployment Script
  examples/oci/README.md
  examples/oci/deploy-all.sh
  examples/oci/monitoring-values.yaml
  examples/oci/prometheus-deploy.yaml
  examples/oci/prometheus.yml
Labels: changelog:exprimental

#7303 [spm] Bug fix for metricstore/elasticsearch/processor.go
  internal/storage/metricstore/elasticsearch/processor.go
  internal/storage/metricstore/elasticsearch/processor_test.go
  internal/storage/metricstore/elasticsearch/reader_test.go
  internal/storage/metricstore/elasticsearch/testdata/output_call_rate_operation.json
Labels: bug, storage/elasticsearch, changelog:exprimental

#7309 Correct command in docker-compose/monitor/readme.md
  docker-compose/monitor/README.md
Labels: documentation, changelog:bugfix-or-minor-feature

#7308 Ingress service for Jaeger demo deployment
  examples/oci/README.md
  examples/oci/ingress.yaml
Labels: changelog:new-feature

#7307 [spm e2e] Add e2e test for new spm (using ElasticSearch as metrics_backend)
  .github/workflows/ci-e2e-spm.yml
  cmd/jaeger/config-spm-elasticsearch.yaml
  cmd/jaeger/config-spm-without-prometheus.yaml
  docker-compose/monitor/docker-compose-elasticsearch.yml
  scripts/e2e/spm.sh
Labels: storage/elasticsearch, changelog:ci

#7304 [spm] Add opensearch option
  .github/workflows/ci-e2e-spm.yml
  cmd/jaeger/config-spm-opensearch.yaml
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/config_test.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  docker-compose/monitor/Makefile
  docker-compose/monitor/docker-compose-opensearch.yml
  scripts/e2e/spm.sh
Labels: enhancement, area/storage, changelog:exprimental

#7312 [refactor] Move bearertoken under auth/
  cmd/query/app/server.go
  cmd/query/app/token_propagation_test.go
  cmd/query/main.go
  cmd/remote-storage/app/server.go
  internal/auth/bearertoken/context.go
  internal/auth/bearertoken/context_test.go
  internal/auth/bearertoken/grpc.go
  internal/auth/bearertoken/grpc_test.go
  internal/auth/bearertoken/http.go
  internal/auth/bearertoken/http_test.go
  internal/auth/bearertoken/package_test.go
  internal/auth/package_test.go
  internal/auth/transport.go
  internal/auth/transport_test.go
  internal/storage/elasticsearch/config/config.go
  internal/storage/elasticsearch/config/config_test.go
  internal/storage/metricstore/prometheus/metricstore/reader.go
  internal/storage/metricstore/prometheus/metricstore/reader_test.go
  internal/storage/v1/elasticsearch/options.go
  internal/storage/v1/grpc/factory.go
  internal/storage/v2/grpc/factory.go
Labels: enhancement, storage/elasticsearch, changelog:refactoring

#7314 Update docker-compose/monitor/README.md
  docker-compose/monitor/README.md
Labels: documentation

#7321 [hotrod] Load jQuery from CDN to allow HotROD to work with a basepath
  examples/hotrod/services/frontend/web_assets/code.jquery.com_jquery-3.7.0.min.js
  examples/hotrod/services/frontend/web_assets/index.html
Labels: ui, changelog:bugfix-or-minor-feature

#7320 Reuse v8 index templates for Elasticsearch v9
  internal/storage/v1/elasticsearch/mappings/mapping.go
Labels: area/storage, storage/elasticsearch, changelog:exprimental

#7319 Add TTL to Badger sample config
  cmd/jaeger/config-badger.yaml
Labels: changelog:bugfix-or-minor-feature, storage/badger

#7328 Serve Hotrod UI and Grafana from Separate Basepaths in Jaeger Demo
  examples/oci/ingress.yaml
  examples/oci/jaeger-values.yaml
  examples/oci/monitoring-values.yaml
Labels: ui, changelog:exprimental

#7330 docs: Add prerequisites for running make test
  CONTRIBUTING.md
Labels: documentation, changelog:documentation

#7318 Decouple from OTel Collector semconv package
  cmd/tracegen/main.go
  examples/hotrod/pkg/tracing/init.go
  examples/hotrod/pkg/tracing/rpcmetrics/observer_test.go
  examples/hotrod/services/customer/database.go
  go.mod
  internal/jtracer/jtracer.go
  internal/storage/metricstore/elasticsearch/query_logger.go
  internal/storage/metricstore/elasticsearch/query_logger_test.go
  internal/storage/v2/elasticsearch/tracestore/from_dbmodel.go
  internal/storage/v2/elasticsearch/tracestore/from_dbmodel_test.go
  internal/storage/v2/elasticsearch/tracestore/to_dbmodel.go
  internal/storage/v2/elasticsearch/tracestore/to_dbmodel_test.go
  internal/storage/v2/memory/memory.go
  internal/storage/v2/memory/memory_test.go
  internal/telemetry/otelsemconv/semconv.go
  internal/telemetry/otelsemconv/semconv_test.go
Labels: area/storage, storage/elasticsearch, changelog:bugfix-or-minor-feature

#7345 Fix CodeQL Security Alert: Remove Sensitive File Paths from Log Messages
  internal/fswatcher/fswatcher.go
  internal/fswatcher/fswatcher_test.go
Labels: security, changelog:bugfix-or-minor-feature

#7322 [spm] Add optimisation by time range
  internal/storage/metricstore/elasticsearch/query_builder.go
  internal/storage/metricstore/elasticsearch/query_builder_test.go
  internal/storage/metricstore/elasticsearch/reader.go
  internal/storage/v1/elasticsearch/spanstore/reader.go
Labels: area/storage, storage/elasticsearch, changelog:exprimental

#7316 [refactor] Used OTEL Optional type for union Auth struct
  cmd/query/app/token_propagation_test.go
  internal/fswatcher/fswatcher_test.go
  internal/storage/elasticsearch/config/config.go
  internal/storage/elasticsearch/config/config_test.go
  internal/storage/v1/elasticsearch/factory.go
  internal/storage/v1/elasticsearch/factory_test.go
  internal/storage/v1/elasticsearch/options.go
  internal/storage/v1/elasticsearch/options_test.go
Labels: storage/elasticsearch, changelog:refactoring

#7347 Enable automated closing of stale pull requests and issues
  .github/stale.yml
  .github/workflows/stale.yml
Labels: changelog:bugfix-or-minor-feature

#7355 Enable stale bot
  .github/workflows/stale.yml
Labels: changelog:bugfix-or-minor-feature

#7350 Fixed invalid string type issue for array-valued tags
  internal/storage/v2/elasticsearch/tracestore/to_dbmodel.go
  internal/storage/v2/elasticsearch/tracestore/to_dbmodel_test.go
Labels: area/storage, storage/elasticsearch, changelog:bugfix-or-minor-feature

#7363 Remove of sanitizer/utf8_sanitizer (dead code)
  cmd/collector/app/sanitizer/utf8_sanitizer.go
  cmd/collector/app/sanitizer/utf8_sanitizer_test.go
Labels: changelog:refactoring

#7359 Removal of all-in-one/setupcontext package (Dead codes)
  cmd/all-in-one/main.go
  cmd/all-in-one/setupcontext/setupcontext.go
  cmd/all-in-one/setupcontext/setupcontext_test.go
Labels: changelog:refactoring

#7371 Add readiness and liveness probe paths to Demo deployment for improved health checks
  examples/oci/jaeger-values.yaml
  examples/oci/monitoring-values.yaml
Labels: changelog:exprimental

#7358 Implement custom RangeQuery interface to support Elasticsearch v9
  .github/workflows/ci-e2e-elasticsearch.yml
  docker-compose/elasticsearch/v9/docker-compose.yml
  internal/storage/elasticsearch/query/range_query.go
  internal/storage/elasticsearch/query/range_query_test.go
  internal/storage/metricstore/elasticsearch/query_builder.go
  internal/storage/v1/elasticsearch/samplingstore/storage.go
  internal/storage/v1/elasticsearch/spanstore/reader.go
  internal/storage/v1/elasticsearch/spanstore/reader_test.go
  internal/storage/v2/elasticsearch/depstore/storage.go
Labels: area/storage, storage/elasticsearch, changelog:new-feature

#7369 Remove deadcode jptrace/utf8
  internal/jptrace/utf8.go
  internal/jptrace/utf8_test.go
Labels: changelog:refactoring

#7365 Removing dead code from thrift/jaeger
  internal/converter/thrift/jaeger/from_domain.go
  internal/converter/thrift/jaeger/from_domain_test.go
Labels: changelog:refactoring

#6854 Add alerts for jaeger 2.x
  monitoring/jaeger-mixin/prometheus_alerts_v2.yml
Labels: changelog:bugfix-or-minor-feature, stale, v2

#7392 Help update OTEL collector packages
  internal/metrics/otelmetrics/factory_test.go
Labels: changelog:test

#7387 Fix enforce-switch-style linting errors
  cmd/es-rollover/app/lookback/time_reference.go
  cmd/es-rollover/app/lookback/time_reference_test.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  cmd/jaeger/internal/extension/remotestorage/server_test.go
  examples/hotrod/pkg/tracing/rpcmetrics/metrics.go
  examples/hotrod/pkg/tracing/rpcmetrics/metrics_test.go
  examples/hotrod/services/driver/server.go
  internal/config/tlscfg/flags_test.go
  internal/jptrace/sanitizer/emptyservicename.go
  internal/jptrace/sanitizer/emptyservicename_test.go
  internal/sampling/samplingstrategy/adaptive/provider_test.go
  internal/storage/metricstore/elasticsearch/reader_test.go
  internal/storage/metricstore/factory.go
  internal/storage/metricstore/factory_test.go
  internal/storage/metricstore/prometheus/metricstore/reader_test.go
  internal/storage/v1/badger/spanstore/reader.go
  internal/storage/v1/cassandra/dependencystore/storage.go
  internal/storage/v1/cassandra/dependencystore/storage_test.go
  internal/storage/v1/cassandra/spanstore/dbmodel/converter.go
  internal/storage/v1/cassandra/spanstore/dbmodel/converter_test.go
  internal/storage/v1/elasticsearch/mappings/mapping.go
  internal/storage/v1/elasticsearch/mappings/mapping_test.go
  internal/storage/v1/elasticsearch/options_test.go
  internal/storage/v1/elasticsearch/spanstore/reader_test.go
  internal/storage/v1/elasticsearch/spanstore/to_domain.go
  internal/storage/v1/elasticsearch/spanstore/to_domain_test.go
  internal/storage/v2/clickhouse/tracestore/dbmodel/from_dbmodel.go
  internal/storage/v2/clickhouse/tracestore/dbmodel/from_dbmodel_test.go
  internal/storage/v2/elasticsearch/tracestore/from_dbmodel.go
  internal/storage/v2/elasticsearch/tracestore/from_dbmodel_test.go
  internal/storage/v2/elasticsearch/tracestore/to_dbmodel.go
  internal/storage/v2/elasticsearch/tracestore/to_dbmodel_test.go
  internal/telemetry/settings.go
  internal/telemetry/settings_test.go
  internal/uimodel/converter/v1/json/from_domain.go
  internal/uimodel/converter/v1/json/from_domain_test.go
Labels: area/storage, changelog:refactoring

#7388 Refactor Basic Authentication to HTTP Transport Layer
  internal/auth/transport_test.go
  internal/storage/elasticsearch/config/auth_helper.go
  internal/storage/elasticsearch/config/auth_helper_test.go
  internal/storage/elasticsearch/config/config.go
  internal/storage/elasticsearch/config/config_test.go
  internal/storage/v1/elasticsearch/factory_test.go
  internal/storage/v1/elasticsearch/options.go
  internal/storage/v1/elasticsearch/options_test.go
Labels: area/storage, changelog:refactoring

#7400 [Feature]: Upgrade to OTEL Collector 1.37
  cmd/collector/app/collector_test.go
  cmd/collector/app/flags/flags.go
  cmd/collector/app/flags/flags_test.go
  cmd/query/app/apiv3/snapshots/FindTraces.json
  cmd/query/app/apiv3/snapshots/GetTrace.json
  go.mod
  go.sum
Labels: changelog:dependencies, dependencies, go

#7334 Automate Jaeger Demo Deployment to OKE Using GitHub Actions
  .github/workflows/ci-deploy-demo.yml
Labels: changelog:exprimental
