Repository jaegertracing/jaeger, pull requests merged in 2025-06, with the labels that each got.

#7196 Fix data race in ESv1 WriteSpan by using distinct inputs
  internal/storage/v1/elasticsearch/factory_test.go
Labels: storage/elasticsearch, changelog:test

#7209 Add skeleton implementation for ES as metricstorage for SPM
  cmd/jaeger/config-spm-without-prometheus.yaml
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/config_test.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  internal/storage/metricstore/elasticsearch/factory.go
  internal/storage/metricstore/elasticsearch/factory_test.go
  internal/storage/metricstore/elasticsearch/package_test.go
  internal/storage/metricstore/elasticsearch/reader.go
  internal/storage/metricstore/elasticsearch/reader_test.go
  internal/storage/metricstore/factory.go
  internal/storage/metricstore/factory_test.go
  internal/storage/metricstore/prometheus/factory.go
  internal/storage/v1/factory.go
  internal/storage/v1/mocks/mocks.go
Labels: storage/elasticsearch, changelog:exprimental

#7216 [spm] And esclient to es/reader.go and refactor test
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  internal/storage/elasticsearch/config/config.go
  internal/storage/elasticsearch/config/config_test.go
  internal/storage/metricstore/elasticsearch/factory.go
  internal/storage/metricstore/elasticsearch/factory_test.go
  internal/storage/metricstore/elasticsearch/reader.go
  internal/storage/metricstore/elasticsearch/reader_test.go
  internal/storage/v1/elasticsearch/factory.go
  internal/storage/v1/elasticsearch/factory_test.go
  internal/storage/v1/elasticsearch/helper.go
Labels: storage/elasticsearch, changelog:exprimental

#7201 [es/v2] Add metrics decorator for trace reader
  internal/storage/v2/api/tracestore/tracestoremetrics/package_test.go
  internal/storage/v2/api/tracestore/tracestoremetrics/reader_metrics.go
  internal/storage/v2/api/tracestore/tracestoremetrics/reader_metrics_test.go
  internal/storage/v2/elasticsearch/factory.go
  internal/storage/v2/elasticsearch/factory_test.go
Labels: area/storage, storage/elasticsearch, changelog:bugfix-or-minor-feature, v2

#7240 Repoint docker compose files to use cr.jaegertracing.io
  cmd/tracegen/docker-compose.yml
  crossdock/jaeger-docker-compose.yml
  docker-compose/jaeger-docker-compose.yml
  docker-compose/kafka/docker-compose.yml
  docker-compose/scylladb/docker-compose.yml
  docker-compose/tail-sampling/docker-compose.yml
  examples/grafana-integration/docker-compose.yaml
  examples/hotrod/kubernetes/base/hotrod/deployment.yaml
  examples/hotrod/kubernetes/base/jaeger-all-in-one/kustomization.yaml
  examples/reverse-proxy/docker-compose.yml
Labels: changelog:bugfix-or-minor-feature, docker

#7207 [clickhouse] Implement GetTraces for ClickHouse Storage
  internal/storage/v2/clickhouse/schema/schema.sql
  internal/storage/v2/clickhouse/tracestore/dbmodel/dbmodel.go
  internal/storage/v2/clickhouse/tracestore/dbmodel/from_dbmodel.go
  internal/storage/v2/clickhouse/tracestore/dbmodel/from_dbmodel_test.go
  internal/storage/v2/clickhouse/tracestore/reader.go
  internal/storage/v2/clickhouse/tracestore/reader_test.go
  internal/storage/v2/clickhouse/tracestore/testdata/assert.go
  internal/storage/v2/clickhouse/tracestore/testdata/package_test.go
  internal/storage/v2/clickhouse/tracestore/testdata/spans.go
Labels: area/storage, v2, changelog:exprimental

#7244 Update Elasticsearch to use olivere/elastic/v7
  cmd/query/app/token_propagation_test.go
  go.mod
  go.sum
  internal/storage/elasticsearch/client.go
  internal/storage/elasticsearch/config/config.go
  internal/storage/elasticsearch/config/config_test.go
  internal/storage/elasticsearch/errors.go
  internal/storage/elasticsearch/errors_test.go
  internal/storage/elasticsearch/mocks/mocks.go
  internal/storage/elasticsearch/wrapper/wrapper.go
  internal/storage/integration/elasticsearch_test.go
  internal/storage/integration/es_index_cleaner_test.go
  internal/storage/integration/es_index_rollover_test.go
  internal/storage/v1/elasticsearch/options.go
  internal/storage/v1/elasticsearch/samplingstore/storage.go
  internal/storage/v1/elasticsearch/samplingstore/storage_test.go
  internal/storage/v1/elasticsearch/spanstore/reader.go
  internal/storage/v1/elasticsearch/spanstore/reader_test.go
  internal/storage/v1/elasticsearch/spanstore/service_operation.go
  internal/storage/v1/elasticsearch/spanstore/service_operation_test.go
  internal/storage/v2/elasticsearch/depstore/storage.go
  internal/storage/v2/elasticsearch/depstore/storage_test.go
Labels: storage/elasticsearch, changelog:bugfix-or-minor-feature

#7235 Update otel collector to v0.128.0
  cmd/collector/app/collector_test.go
  cmd/collector/app/flags/flags.go
  cmd/collector/app/handler/otlp_receiver.go
  cmd/collector/app/handler/zipkin_receiver_tls_test.go
  cmd/collector/app/server/grpc_test.go
  cmd/collector/app/server/http_test.go
  cmd/internal/flags/admin.go
  cmd/jaeger/internal/integration/trace_writer.go
  cmd/query/app/flags.go
  cmd/query/app/server.go
  cmd/query/app/server_test.go
  cmd/remote-storage/app/flags.go
  cmd/remote-storage/app/server_test.go
  go.mod
  go.sum
  internal/storage/v1/grpc/options.go
  internal/storage/v1/grpc/options_test.go
Labels: changelog:dependencies

#7245 [Fix] Prevent panic when sanitizing read-only traces with multiple exporters
  cmd/jaeger/internal/exporters/storageexporter/exporter_test.go
  internal/jptrace/sanitizer/emptyservicename.go
  internal/jptrace/sanitizer/negative_duration_santizer.go
  internal/jptrace/sanitizer/readonly_test.go
  internal/jptrace/sanitizer/utf8.go
Labels: changelog:bugfix-or-minor-feature
