Repository jaegertracing/jaeger, pull requests merged in 2025-04, with the labels that each got.

#6954 [refactor] Remove `TracesChunk` type and stream otlp traces directly
  internal/proto-gen/storage/v2/trace_storage.pb.go
  internal/storage/v2/grpc/trace_storage.proto
Labels: area/storage, changelog:refactoring

#6955 Remove package pkg/netutils
  cmd/query/app/server.go
  cmd/query/app/util.go
  cmd/query/app/util_test.go
  pkg/netutils/port.go
  pkg/netutils/port_test.go
Labels: changelog:refactoring

#6857 [grpc][v2] Implement `GetTraces` Call in gRPC reader for remote storage api v2
  internal/storage/v2/grpc/tracereader.go
  internal/storage/v2/grpc/tracereader_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6960 Move pkg/cassandra to internal/storage/cassandra
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  internal/storage/cassandra/config/config.go
  internal/storage/cassandra/config/config_test.go
  internal/storage/cassandra/config/package_test.go
  internal/storage/cassandra/empty_test.go
  internal/storage/cassandra/gocql/empty_test.go
  internal/storage/cassandra/gocql/gocql.go
  internal/storage/cassandra/gocql/testutils/udt.go
  internal/storage/cassandra/gocql/testutils/udt_test.go
  internal/storage/cassandra/metrics/table.go
  internal/storage/cassandra/metrics/table_test.go
  internal/storage/cassandra/mocks/Iterator.go
  internal/storage/cassandra/mocks/Query.go
  internal/storage/cassandra/mocks/Session.go
  internal/storage/cassandra/session.go
  internal/storage/distributedlock/cassandra/lock.go
  internal/storage/distributedlock/cassandra/lock_test.go
  internal/storage/v1/cassandra/dependencystore/bootstrap.go
  internal/storage/v1/cassandra/dependencystore/bootstrap_test.go
  internal/storage/v1/cassandra/dependencystore/model_test.go
  internal/storage/v1/cassandra/dependencystore/storage.go
  internal/storage/v1/cassandra/dependencystore/storage_test.go
  internal/storage/v1/cassandra/factory.go
  internal/storage/v1/cassandra/factory_test.go
  internal/storage/v1/cassandra/options.go
  internal/storage/v1/cassandra/samplingstore/storage.go
  internal/storage/v1/cassandra/samplingstore/storage_test.go
  internal/storage/v1/cassandra/savetracetest/main.go
  internal/storage/v1/cassandra/schema/schema.go
  internal/storage/v1/cassandra/spanstore/dbmodel/cql_udt_test.go
  internal/storage/v1/cassandra/spanstore/operation_names.go
  internal/storage/v1/cassandra/spanstore/operation_names_test.go
  internal/storage/v1/cassandra/spanstore/reader.go
  internal/storage/v1/cassandra/spanstore/reader_test.go
  internal/storage/v1/cassandra/spanstore/service_names.go
  internal/storage/v1/cassandra/spanstore/service_names_test.go
  internal/storage/v1/cassandra/spanstore/writer.go
  internal/storage/v1/cassandra/spanstore/writer_test.go
Labels: storage/cassandra, changelog:refactoring

#6962 [grpc][v2] Implement `FindTraces` Call in gRPC reader for remote storage api v2
  internal/storage/v2/grpc/tracereader.go
  internal/storage/v2/grpc/tracereader_test.go
Labels: area/storage, v2, changelog:exprimental

#6961 Move pkg/otelsemconv to internal/telemetry/otelsemconv
  cmd/collector/app/metrics.go
  cmd/jaeger/internal/exporters/storageexporter/exporter_test.go
  cmd/jaeger/internal/sanitizer/emptyservicename.go
  cmd/query/app/querysvc/internal/adjuster/otel_tag.go
  cmd/query/app/querysvc/internal/adjuster/otel_tag_test.go
  cmd/query/app/querysvc/v2/adjuster/clockskew.go
  cmd/query/app/querysvc/v2/adjuster/libraryattributes.go
  cmd/query/app/querysvc/v2/adjuster/libraryattributes_test.go
  cmd/tracegen/main.go
  examples/hotrod/pkg/tracing/init.go
  examples/hotrod/pkg/tracing/rpcmetrics/observer.go
  examples/hotrod/pkg/tracing/rpcmetrics/observer_test.go
  examples/hotrod/services/customer/database.go
  internal/jtracer/jtracer.go
  internal/storage/metricstore/prometheus/metricstore/reader.go
  internal/storage/v1/cassandra/spanstore/reader.go
  internal/telemetry/otelsemconv/empty_test.go
  internal/telemetry/otelsemconv/semconv.go
Labels: changelog:refactoring

#6967 Delete empty pkg package
  CONTRIBUTING.md
  pkg/README.md
  pkg/doc.go
  pkg/empty_test.go
Labels: changelog:refactoring

#6968 [grpc][v2] Implement gRPC v2 factory
  internal/storage/v2/grpc/config.go
  internal/storage/v2/grpc/config_test.go
  internal/storage/v2/grpc/factory.go
  internal/storage/v2/grpc/factory_test.go
Labels: area/storage, v2, changelog:exprimental

#6972 Add usetesting linter and fix lint issues (#6892)
  .golangci.yml
  internal/fswatcher/fswatcher_test.go
  internal/jaegerclientenv2otel/envvars_test.go
  internal/sampling/samplingstrategy/file/provider_test.go
  internal/storage/metricstore/prometheus/metricstore/reader_test.go
  internal/storage/v1/elasticsearch/mappings/command_test.go
Labels: changelog:refactoring

#6973 Move model/json/model.go to internal/uimodel/converter/v1
  cmd/all-in-one/all_in_one_test.go
  cmd/anonymizer/app/anonymizer/anonymizer.go
  cmd/anonymizer/app/uiconv/extractor.go
  cmd/anonymizer/app/uiconv/reader.go
  cmd/query/app/handler_deps_test.go
  cmd/query/app/http_handler.go
  cmd/query/app/http_handler_test.go
  crossdock/services/agent.go
  crossdock/services/agent_test.go
  crossdock/services/mocks/QueryService.go
  crossdock/services/query.go
  crossdock/services/query_test.go
  crossdock/services/tracehandler.go
  crossdock/services/tracehandler_test.go
  internal/sampling/http/handler.go
  internal/sampling/http/handler_test.go
  internal/uimodel/converter/v1/json/doc.go
  internal/uimodel/converter/v1/json/fixtures/domain_01.json
  internal/uimodel/converter/v1/json/fixtures/domain_es_01.json
  internal/uimodel/converter/v1/json/fixtures/es_01.json
  internal/uimodel/converter/v1/json/fixtures/ui_01.json
  internal/uimodel/converter/v1/json/from_domain.go
  internal/uimodel/converter/v1/json/from_domain_test.go
  internal/uimodel/converter/v1/json/json_span_compare_test.go
  internal/uimodel/converter/v1/json/package_test.go
  internal/uimodel/converter/v1/json/process_hashtable.go
  internal/uimodel/converter/v1/json/process_hashtable_test.go
  internal/uimodel/converter/v1/json/sampling.go
  internal/uimodel/converter/v1/json/sampling_test.go
  internal/uimodel/doc.go
  internal/uimodel/empty_test.go
  internal/uimodel/model.go
  model/json/fixture.json
Labels: changelog:refactoring

#6970 [ES][v2] Add snapshot tests for spans conversion
  internal/storage/v2/elasticsearch/tracestore/fixtures/.gitignore
  internal/storage/v2/elasticsearch/tracestore/fixtures/es_01.json
  internal/storage/v2/elasticsearch/tracestore/fixtures/otel_traces_01.json
  internal/storage/v2/elasticsearch/tracestore/from_dbmodel.go
  internal/storage/v2/elasticsearch/tracestore/from_dbmodel_test.go
  internal/storage/v2/elasticsearch/tracestore/to_dbmodel.go
  internal/storage/v2/elasticsearch/tracestore/to_dbmodel_test.go
Labels: area/storage, v2, changelog:exprimental

#6976 Minor fixes to release checklist generator
  scripts/release/start.sh
Labels: changelog:bugfix-or-minor-feature

#6977 Add changelog:refactoring
  scripts/release/notes.py
Labels: changelog:bugfix-or-minor-feature

#6980 [grpc][v2] Implement `GetServices` in grpc v2 handler
  internal/storage/v2/grpc/handler.go
  internal/storage/v2/grpc/handler_test.go
Labels: area/storage, v2, changelog:exprimental

#6984 [grpc][v2] Implement `GetServices` in grpc v2 handler
  internal/storage/v2/grpc/handler.go
  internal/storage/v2/grpc/handler_test.go
Labels: area/storage, v2, changelog:exprimental

#6985 [grpc][v2] Implement `GetTraces` in gRPC v2 handler
  internal/storage/v2/grpc/handler.go
  internal/storage/v2/grpc/handler_test.go
Labels: area/storage, v2, changelog:exprimental

#6987 Remove outdated info related to jaeger exporter
  cmd/tracegen/README.md
Labels: documentation, changelog:bugfix-or-minor-feature

#6990 [bug] Fix the version module path in ldflags
  scripts/makefiles/BuildInfo.mk
Labels: changelog:bugfix-or-minor-feature

#6991 #5608 Improve SPM e2e test with test for error rate
  scripts/e2e/spm.sh
Labels: changelog:ci

#6992 [grpc][v2] Implement `FindTraces` in gRPC v2 handler
  internal/storage/v2/grpc/handler.go
  internal/storage/v2/grpc/handler_test.go
Labels: area/storage, v2, changelog:exprimental

#6998 [ES][v1] Change the DB Tag value from `string` to `any` type
  internal/storage/v1/elasticsearch/spanstore/fixtures/es_01.json
  internal/storage/v1/elasticsearch/spanstore/from_domain.go
  internal/storage/v1/elasticsearch/spanstore/from_domain_test.go
  internal/storage/v1/elasticsearch/spanstore/json_span_compare_test.go
  internal/storage/v1/elasticsearch/spanstore/to_domain.go
  internal/storage/v1/elasticsearch/spanstore/to_domain_test.go
Labels: storage/elasticsearch, changelog:bugfix-or-minor-feature

#7004 Fix flakiness in runIndexCleanerTest by filtering Jaeger indices
  internal/storage/integration/es_index_cleaner_test.go
Labels: storage/elasticsearch, changelog:ci

#7003 [grpc][v2] Implement FindTraceIDs in gRPC v2 handler
  internal/storage/v2/grpc/handler.go
  internal/storage/v2/grpc/handler_test.go
Labels: area/storage, v2, changelog:exprimental

#7012 [grpc][v2] Implement OTLP exporter API in gRPC v2 handler
  internal/storage/v2/grpc/handler.go
  internal/storage/v2/grpc/handler_test.go
Labels: area/otel, v2, changelog:exprimental

#7016 [grpc][v2] Implement `GetDependencies` in gRPC v2 Server
  internal/storage/v2/grpc/handler.go
  internal/storage/v2/grpc/handler_test.go
Labels: area/storage, v2, changelog:exprimental

#7019 [refactor] Consolidate v1/v2 reader factory adapter functionality
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerquery/server_test.go
  cmd/query/app/querysvc/query_service.go
  internal/storage/v2/v1adapter/spanreader.go
  internal/storage/v2/v1adapter/spanreader_test.go
  internal/storage/v2/v1adapter/tracereader.go
  internal/storage/v2/v1adapter/tracereader_test.go
Labels: area/storage, v2, changelog:refactoring

#7020 [ES][v2] Implement `WriteTraces` for v2
  internal/storage/v2/elasticsearch/tracestore/writer.go
  internal/storage/v2/elasticsearch/tracestore/writer_test.go
Labels: area/storage, storage/elasticsearch, v2, changelog:exprimental

#7022 [refactor] Consolidate v1/v2 writer factory adapter functionality
  cmd/collector/app/span_processor.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerquery/server_test.go
  internal/storage/v2/v1adapter/spanwriter.go
  internal/storage/v2/v1adapter/spanwriter_test.go
  internal/storage/v2/v1adapter/tracewriter.go
  internal/storage/v2/v1adapter/tracewriter_test.go
Labels: area/storage, v2, changelog:refactoring

#7025 [ES][v2] Implement `GetOperations` and `GetServices` for v2
  internal/storage/v2/elasticsearch/tracestore/reader.go
  internal/storage/v2/elasticsearch/tracestore/reader_test.go
Labels: area/storage, v2, changelog:exprimental

#7037 [grpc][v2] Register gRPC v2 handler in remote-storage server
  cmd/remote-storage/app/server.go
  cmd/remote-storage/app/server_test.go
  internal/storage/v2/grpc/handler.go
Labels: area/storage, v2, changelog:exprimental

#6969 [grpc][v2] Use v2 gRPC factory in storage extension
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  internal/storage/v2/grpc/factory.go
  internal/storage/v2/grpc/factory_test.go
Labels: area/storage, v2, changelog:exprimental

#7045 Fix paths in mockery config
  .gitignore
  .mockery.yaml
  Makefile
  crossdock/services/collector.go
  crossdock/services/collector_test.go
  crossdock/services/mocks/CollectorService.go
  crossdock/services/t_mock_test.go
  crossdock/services/tracehandler_test.go
  internal/storage/cassandra/mocks/Query.go
  internal/storage/cassandra/mocks/Session.go
  internal/storage/elasticsearch/mocks/Client.go
  internal/storage/elasticsearch/mocks/IndexService.go
  internal/storage/elasticsearch/mocks/IndicesCreateService.go
  internal/storage/elasticsearch/mocks/MultiSearchService.go
  internal/storage/elasticsearch/mocks/SearchService.go
  internal/storage/elasticsearch/mocks/TemplateBuilder.go
  internal/storage/elasticsearch/mocks/TemplateCreateService.go
Labels: changelog:ci

#7044 [ES] Refactor `DependencyStore` to make it reusable for v2 APIs
  .mockery.yaml
  internal/storage/v1/elasticsearch/dependencystore/mocks/CoreDependencyStore.go
  internal/storage/v1/elasticsearch/dependencystore/storage.go
  internal/storage/v1/elasticsearch/dependencystore/storage_test.go
  internal/storage/v1/elasticsearch/dependencystore/storagev1.go
  internal/storage/v1/elasticsearch/dependencystore/storagev1_test.go
  internal/storage/v1/elasticsearch/factory.go
Labels: area/storage, storage/elasticsearch, v2, changelog:exprimental

#7047 [test] Block until server starts
  cmd/anonymizer/app/query/query_test.go
Labels: changelog:test

#7027 [v2] Implement `WriteTraces` for Memory backend
  internal/storage/v2/memory/fixtures/db_traces_01.json
  internal/storage/v2/memory/fixtures/db_traces_02.json
  internal/storage/v2/memory/fixtures/otel_traces_01.json
  internal/storage/v2/memory/memory.go
  internal/storage/v2/memory/memory_test.go
  internal/storage/v2/memory/package_test.go
  internal/storage/v2/memory/tenant.go
Labels: area/storage, v2, changelog:exprimental

#7048 Remove last mockery/with-expecter=false
  .mockery.yaml
  internal/storage/cassandra/mocks/Iterator.go
  internal/storage/cassandra/mocks/Query.go
  internal/storage/cassandra/mocks/Session.go
  internal/storage/v1/cassandra/samplingstore/storage_test.go
  internal/storage/v1/cassandra/spanstore/matchers_test.go
  internal/storage/v1/cassandra/spanstore/reader_test.go
  internal/storage/v1/cassandra/spanstore/service_names_test.go
  internal/storage/v1/cassandra/spanstore/writer_test.go
Labels: area/storage, changelog:test

#7035 [v2] Implement `FindTraceIDs` for ES/OS
  internal/storage/v2/elasticsearch/tracestore/reader.go
  internal/storage/v2/elasticsearch/tracestore/reader_test.go
Labels: area/storage, storage/elasticsearch, v2, changelog:exprimental

#7053 [v2] Implement `GetOperations` and `GetServices` for memory backend
  internal/storage/v2/memory/fixtures/db_traces_01.json
  internal/storage/v2/memory/fixtures/db_traces_02.json
  internal/storage/v2/memory/fixtures/otel_traces_01.json
  internal/storage/v2/memory/memory.go
  internal/storage/v2/memory/memory_test.go
Labels: area/storage, v2, changelog:exprimental

#7054 [ES][v2] Implement `GetTraces` for ES/OS
  internal/storage/v2/elasticsearch/tracestore/reader.go
  internal/storage/v2/elasticsearch/tracestore/reader_test.go
Labels: area/storage, storage/elasticsearch, v2, changelog:exprimental

#7056 [fix] Add query integration test to workflows file
  .github/workflows/ci-e2e-all.yml
  .github/workflows/ci-e2e-query.yml
Labels: changelog:ci

#7059 [refactor] Remove `jaeger_query` extension from remote storage backend config
  cmd/jaeger/config-remote-storage-backend.yaml
  cmd/jaeger/internal/integration/e2e_integration.go
  cmd/jaeger/internal/integration/e2e_integration_test.go
  cmd/jaeger/internal/integration/grpc_test.go
  cmd/jaeger/internal/integration/query_test.go
Labels: area/storage, changelog:exprimental

#7021 [ES][v2] Implement `FindTraces` for ES/OS for v2
  internal/storage/v2/elasticsearch/tracestore/reader.go
  internal/storage/v2/elasticsearch/tracestore/reader_test.go
Labels: area/storage, storage/elasticsearch, v2, changelog:exprimental

#7065 [grpc][v2] Use standard OTLP receiver for gRPC storage write path
  cmd/jaeger/config-remote-storage-backend.yaml
  cmd/jaeger/config-remote-storage.yaml
  cmd/jaeger/internal/extension/remotestorage/server_test.go
  cmd/jaeger/internal/integration/grpc_test.go
  internal/storage/v2/grpc/config.go
  internal/storage/v2/grpc/factory.go
  internal/storage/v2/grpc/factory_test.go
Labels: area/storage, v2, changelog:exprimental

#7076 Upgrade reverse-proxy example to jaeger-v2
  examples/reverse-proxy/docker-compose.yml
Labels: changelog:bugfix-or-minor-feature, v2

#7078 Remove unnecessary heading
  cmd/jaeger/internal/integration/README.md
Labels: documentation, changelog:skip

#7072 feat(elasticsearch): add flag to enable gzip compression
  internal/storage/elasticsearch/config/config.go
  internal/storage/v1/elasticsearch/options.go
  internal/storage/v1/elasticsearch/options_test.go
Labels: enhancement, area/storage, changelog:breaking-change

#6946 [ES] Make `NestedTags` and `FieldTags` distinction at `CoreSpanWriter` level
  internal/storage/v1/elasticsearch/spanstore/from_domain.go
  internal/storage/v1/elasticsearch/spanstore/from_domain_test.go
  internal/storage/v1/elasticsearch/spanstore/writer.go
  internal/storage/v1/elasticsearch/spanstore/writer_test.go
  internal/storage/v1/elasticsearch/spanstore/writerv1.go
  internal/storage/v1/elasticsearch/spanstore/writerv1_test.go
Labels: storage/elasticsearch, v2, changelog:refactoring

#7067 [ES] Make `NestedTags` and `ElevatedTags` distinction at `CoreSpanReader` level
  internal/storage/v1/elasticsearch/spanstore/reader.go
  internal/storage/v1/elasticsearch/spanstore/reader_test.go
  internal/storage/v1/elasticsearch/spanstore/readerv1.go
  internal/storage/v1/elasticsearch/spanstore/to_domain.go
  internal/storage/v1/elasticsearch/spanstore/to_domain_test.go
Labels: storage/elasticsearch, changelog:exprimental

#6935 [clickhouse] Convert OTel traces model to native format
  go.mod
  go.sum
  internal/storage/v2/clickhouse/README.md
  internal/storage/v2/clickhouse/tracestore/dbmodel/dbmodel.go
  internal/storage/v2/clickhouse/tracestore/dbmodel/fixtures/dbmodel.json
  internal/storage/v2/clickhouse/tracestore/dbmodel/fixtures/input.json
  internal/storage/v2/clickhouse/tracestore/dbmodel/fixtures/ptrace.json
  internal/storage/v2/clickhouse/tracestore/dbmodel/from_dbmodel.go
  internal/storage/v2/clickhouse/tracestore/dbmodel/from_dbmodel_test.go
  internal/storage/v2/clickhouse/tracestore/dbmodel/package_test.go
  internal/storage/v2/clickhouse/tracestore/dbmodel/to_dbmodel.go
  internal/storage/v2/clickhouse/tracestore/dbmodel/to_dbmodel_test.go
Labels: area/storage, v2, changelog:exprimental, go

#7085 [ES][v2] Implement `GetDependenies` and `WriteDependencies`
  internal/storage/v2/elasticsearch/depstore/storagev2.go
  internal/storage/v2/elasticsearch/depstore/storagev2_test.go
Labels: area/storage, storage/elasticsearch, v2, changelog:exprimental
