Repository jaegertracing/jaeger, pull requests merged in 2025-02, with the labels that each got.

#6645 [refactor] Move badger implementation to `internal` package
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  internal/storage/v1/badger/README.md
  internal/storage/v1/badger/config.go
  internal/storage/v1/badger/config_test.go
  internal/storage/v1/badger/dependencystore/package_test.go
  internal/storage/v1/badger/dependencystore/storage.go
  internal/storage/v1/badger/dependencystore/storage_internal_test.go
  internal/storage/v1/badger/dependencystore/storage_test.go
  internal/storage/v1/badger/docs/storage-file-non-root-permission.md
  internal/storage/v1/badger/docs/upgrade-v1-to-v3.md
  internal/storage/v1/badger/factory.go
  internal/storage/v1/badger/factory_test.go
  internal/storage/v1/badger/lock.go
  internal/storage/v1/badger/lock_test.go
  internal/storage/v1/badger/options.go
  internal/storage/v1/badger/options_test.go
  internal/storage/v1/badger/package_test.go
  internal/storage/v1/badger/samplingstore/storage.go
  internal/storage/v1/badger/samplingstore/storage_test.go
  internal/storage/v1/badger/spanstore/cache.go
  internal/storage/v1/badger/spanstore/cache_test.go
  internal/storage/v1/badger/spanstore/package_test.go
  internal/storage/v1/badger/spanstore/read_write_test.go
  internal/storage/v1/badger/spanstore/reader.go
  internal/storage/v1/badger/spanstore/rw_internal_test.go
  internal/storage/v1/badger/spanstore/writer.go
  internal/storage/v1/badger/stats.go
  internal/storage/v1/badger/stats_linux.go
  internal/storage/v1/badger/stats_linux_test.go
  internal/storage/v1/badger/stats_test.go
  plugin/storage/factory.go
  plugin/storage/integration/badgerstore_test.go
Labels: changelog:breaking-change, storage/badger

#6646 [refactor] Move memory implementation to `internal` package
  cmd/collector/app/span_handler_builder_test.go
  cmd/jaeger/internal/exporters/storageexporter/exporter_test.go
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  cmd/jaeger/internal/extension/remotesampling/extension_test.go
  cmd/jaeger/internal/processors/adaptivesampling/processor_test.go
  internal/storage/v1/memory/config.go
  internal/storage/v1/memory/config_test.go
  internal/storage/v1/memory/factory.go
  internal/storage/v1/memory/factory_test.go
  internal/storage/v1/memory/lock.go
  internal/storage/v1/memory/lock_test.go
  internal/storage/v1/memory/memory.go
  internal/storage/v1/memory/memory_test.go
  internal/storage/v1/memory/options.go
  internal/storage/v1/memory/options_test.go
  internal/storage/v1/memory/package_test.go
  internal/storage/v1/memory/sampling.go
  internal/storage/v1/memory/sampling_test.go
  plugin/storage/factory.go
  plugin/storage/integration/kafka_test.go
  plugin/storage/integration/memstore_test.go
  storage_v2/v1adapter/tracereader_test.go
  storage_v2/v1adapter/tracewriter_test.go
Labels: area/storage, changelog:breaking-change

#6649 [refactor] Move gRPC implementation to `internal` package
  .mockery.yaml
  Makefile.Protobuf.mk
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  cmd/remote-storage/app/server.go
  internal/storage/v1/grpc/README.md
  internal/storage/v1/grpc/config.go
  internal/storage/v1/grpc/config_test.go
  internal/storage/v1/grpc/factory.go
  internal/storage/v1/grpc/factory_test.go
  internal/storage/v1/grpc/options.go
  internal/storage/v1/grpc/options_test.go
  internal/storage/v1/grpc/package_test.go
  internal/storage/v1/grpc/proto/storage.proto
  internal/storage/v1/grpc/proto/storage_test.proto
  internal/storage/v1/grpc/proto/storage_v1/storage_test.go
  internal/storage/v1/grpc/proto/storageprototest/storage_test.pb.go
  internal/storage/v1/grpc/shared/grpc_client.go
  internal/storage/v1/grpc/shared/grpc_client_test.go
  internal/storage/v1/grpc/shared/grpc_handler.go
  internal/storage/v1/grpc/shared/grpc_handler_test.go
  internal/storage/v1/grpc/shared/interface.go
  internal/storage/v1/grpc/shared/mocks/PluginCapabilities.go
  internal/storage/v1/grpc/shared/package_test.go
  internal/storage/v1/grpc/shared/streaming_writer.go
  internal/storage/v1/grpc/shared/streaming_writer_test.go
  plugin/storage/factory.go
  plugin/storage/integration/grpc_test.go
  storage_v2/v1adapter/factory_test.go
Labels: area/storage, changelog:breaking-change

#6647 [refactor] Move blackhole implementation to `internal` package
  internal/storage/v1/blackhole/blackhole.go
  internal/storage/v1/blackhole/blackhole_test.go
  internal/storage/v1/blackhole/factory.go
  internal/storage/v1/blackhole/factory_test.go
  internal/storage/v1/blackhole/package_test.go
  plugin/storage/factory.go
Labels: area/storage, changelog:breaking-change

#6652 [chore] Move scylladb implementation to `docker-compose`
  docker-compose/scylladb/README.md
  docker-compose/scylladb/docker-compose.yml
  renovate.json
Labels: area/storage, changelog:skip, docker

#6651 [refactor] Move kafka implementation to internal package
  .mockery.yaml
  cmd/ingester/app/builder/builder.go
  cmd/ingester/app/flags.go
  cmd/ingester/app/flags_test.go
  cmd/ingester/app/processor/span_processor.go
  cmd/ingester/app/processor/span_processor_test.go
  internal/storage/v1/kafka/factory.go
  internal/storage/v1/kafka/factory_test.go
  internal/storage/v1/kafka/marshaller.go
  internal/storage/v1/kafka/marshalling_test.go
  internal/storage/v1/kafka/mocks/Marshaller.go
  internal/storage/v1/kafka/mocks/Unmarshaller.go
  internal/storage/v1/kafka/options.go
  internal/storage/v1/kafka/options_test.go
  internal/storage/v1/kafka/package_test.go
  internal/storage/v1/kafka/unmarshaller.go
  internal/storage/v1/kafka/writer.go
  internal/storage/v1/kafka/writer_test.go
  plugin/storage/factory.go
  plugin/storage/integration/kafka_test.go
Labels: changelog:breaking-change, storage/kafka

#6656 [refactor] Consolidate esmapping-generator code
  cmd/esmapping-generator/app/renderer/render.go
  cmd/esmapping-generator/app/renderer/render_test.go
  cmd/esmapping-generator/generator/esmapping_generator.go
  cmd/esmapping-generator/generator/esmapping_generator_test.go
  cmd/esmapping-generator/main.go
  cmd/jaeger/main.go
  internal/storage/elasticsearch/mapping/command.go
  internal/storage/elasticsearch/mapping/command_test.go
  internal/storage/v1/elasticsearch/mappings/command.go
  internal/storage/v1/elasticsearch/mappings/command_test.go
  internal/storage/v1/elasticsearch/mappings/flags.go
  internal/storage/v1/elasticsearch/mappings/flags_test.go
Labels: area/storage, storage/elasticsearch, changelog:skip

#6657 [refactor] Move integration package to internal
  .codecov.yml
  Makefile.IntegrationTests.mk
  cmd/jaeger/internal/integration/README.md
  cmd/jaeger/internal/integration/badger_test.go
  cmd/jaeger/internal/integration/cassandra_test.go
  cmd/jaeger/internal/integration/e2e_integration.go
  cmd/jaeger/internal/integration/elasticsearch_test.go
  cmd/jaeger/internal/integration/grpc_test.go
  cmd/jaeger/internal/integration/kafka_test.go
  cmd/jaeger/internal/integration/memory_test.go
  cmd/jaeger/internal/integration/opensearch_test.go
  cmd/jaeger/internal/integration/tailsampling_test.go
  internal/storage/integration/badgerstore_test.go
  internal/storage/integration/cassandra_test.go
  internal/storage/integration/elasticsearch_test.go
  internal/storage/integration/es_index_cleaner_test.go
  internal/storage/integration/es_index_rollover_test.go
  internal/storage/integration/fixtures/grpc_plugin_conf.yaml
  internal/storage/integration/fixtures/queries.json
  internal/storage/integration/fixtures/queries_es.json
  internal/storage/integration/fixtures/traces/default.json
  internal/storage/integration/fixtures/traces/dur_trace.json
  internal/storage/integration/fixtures/traces/example_trace.json
  internal/storage/integration/fixtures/traces/log_tags_trace.json
  internal/storage/integration/fixtures/traces/max_dur_trace.json
  internal/storage/integration/fixtures/traces/multi_index_trace.json
  internal/storage/integration/fixtures/traces/multi_spot_tags_trace.json
  internal/storage/integration/fixtures/traces/multiple1_trace.json
  internal/storage/integration/fixtures/traces/multiple2_trace.json
  internal/storage/integration/fixtures/traces/multiple3_trace.json
  internal/storage/integration/fixtures/traces/multispottag_dur_trace.json
  internal/storage/integration/fixtures/traces/multispottag_maxdur_trace.json
  internal/storage/integration/fixtures/traces/multispottag_opname_dur_trace.json
  internal/storage/integration/fixtures/traces/multispottag_opname_maxdur_trace.json
  internal/storage/integration/fixtures/traces/multispottag_opname_trace.json
  internal/storage/integration/fixtures/traces/opname_dur_trace.json
  internal/storage/integration/fixtures/traces/opname_maxdur_trace.json
  internal/storage/integration/fixtures/traces/opname_trace.json
  internal/storage/integration/fixtures/traces/process_tags_trace.json
  internal/storage/integration/fixtures/traces/span_tags_trace.json
  internal/storage/integration/fixtures/traces/tags_dur_trace.json
  internal/storage/integration/fixtures/traces/tags_escaped_operator_trace_1.json
  internal/storage/integration/fixtures/traces/tags_escaped_operator_trace_2.json
  internal/storage/integration/fixtures/traces/tags_maxdur_trace.json
  internal/storage/integration/fixtures/traces/tags_opname_dur_trace.json
  internal/storage/integration/fixtures/traces/tags_opname_maxdur_trace.json
  internal/storage/integration/fixtures/traces/tags_opname_trace.json
  internal/storage/integration/fixtures/traces/tags_wildcard_regex_1.json
  internal/storage/integration/fixtures/traces/tags_wildcard_regex_2.json
  internal/storage/integration/grpc_test.go
  internal/storage/integration/integration.go
  internal/storage/integration/kafka_test.go
  internal/storage/integration/memstore_test.go
  internal/storage/integration/package_test.go
  internal/storage/integration/remote_memory_storage.go
  internal/storage/integration/trace_compare.go
  internal/storage/integration/trace_compare_test.go
  internal/storage/v1/grpc/README.md
  scripts/lint/check-goleak-files.sh
Labels: area/storage, changelog:bugfix-or-minor-feature

#6660 [refactor] Move `plugin/storage` to `internal/storage/v1/factory`
  cmd/all-in-one/main.go
  cmd/collector/main.go
  cmd/ingester/main.go
  cmd/internal/env/command.go
  cmd/query/app/flags.go
  cmd/query/app/flags_test.go
  cmd/query/main.go
  cmd/remote-storage/main.go
  internal/storage/integration/remote_memory_storage.go
  internal/storage/v1/factory/config.go
  internal/storage/v1/factory/config_test.go
  internal/storage/v1/factory/factory.go
  internal/storage/v1/factory/factory_test.go
  internal/storage/v1/factory/package_test.go
Labels: area/storage, changelog:skip

#6661 [refactor]: Move makefiles into scripts/makefiles
  Makefile
  scripts/makefiles/BuildBinaries.mk
  scripts/makefiles/BuildInfo.mk
  scripts/makefiles/Crossdock.mk
  scripts/makefiles/Docker.mk
  scripts/makefiles/IntegrationTests.mk
  scripts/makefiles/Protobuf.mk
  scripts/makefiles/Tools.mk
  scripts/makefiles/Windows.mk
Labels: changelog:skip

#6662 Update ElasticSearch article Link
  internal/storage/v1/elasticsearch/README.md
Labels: documentation, storage/elasticsearch, changelog:bugfix-or-minor-feature

#6666 [refactor] Move `plugin/metricstore` to `internal/storage/metricstore`
  cmd/all-in-one/main.go
  cmd/internal/env/command.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/query/app/http_handler.go
  cmd/query/app/http_handler_test.go
  cmd/query/main.go
  internal/storage/metricstore/disabled/factory.go
  internal/storage/metricstore/disabled/factory_test.go
  internal/storage/metricstore/disabled/package_test.go
  internal/storage/metricstore/disabled/reader.go
  internal/storage/metricstore/disabled/reader_test.go
  internal/storage/metricstore/factory.go
  internal/storage/metricstore/factory_config.go
  internal/storage/metricstore/factory_config_test.go
  internal/storage/metricstore/factory_test.go
  internal/storage/metricstore/package_test.go
  internal/storage/metricstore/prometheus/factory.go
  internal/storage/metricstore/prometheus/factory_test.go
  internal/storage/metricstore/prometheus/metricstore/dbmodel/to_domain.go
  internal/storage/metricstore/prometheus/metricstore/dbmodel/to_domain_test.go
  internal/storage/metricstore/prometheus/metricstore/reader.go
  internal/storage/metricstore/prometheus/metricstore/reader_test.go
  internal/storage/metricstore/prometheus/metricstore/testdata/empty_response.json
  internal/storage/metricstore/prometheus/metricstore/testdata/service_datapoint_response.json
  internal/storage/metricstore/prometheus/metricstore/testdata/service_span_name_datapoint_response.json
  internal/storage/metricstore/prometheus/metricstore/testdata/warning_response.json
  internal/storage/metricstore/prometheus/options.go
Labels: area/storage, changelog:skip

#6678 [fix] Change metrics port in kafka ingester config to avoid conflict with collector
  cmd/jaeger/config-kafka-ingester.yaml
Labels: changelog:bugfix-or-minor-feature, storage/kafka

#6679 [fix] Replace deprecated address field in service::telemetry
  cmd/jaeger/config-badger.yaml
  cmd/jaeger/config-cassandra.yaml
  cmd/jaeger/config-elasticsearch.yaml
  cmd/jaeger/config-kafka-collector.yaml
  cmd/jaeger/config-kafka-ingester.yaml
  cmd/jaeger/config-opensearch.yaml
  cmd/jaeger/config-remote-storage.yaml
  cmd/jaeger/config-spm.yaml
  cmd/jaeger/config-tail-sampling-always-sample.yaml
  cmd/jaeger/config-tail-sampling-service-name-policy.yaml
  cmd/jaeger/config.yaml
  cmd/jaeger/internal/all-in-one.yaml
Labels: area/storage, changelog:bugfix-or-minor-feature

#6680 [refactor] Move distributedlock to `internal`
  internal/storage/distributedlock/cassandra/lock.go
  internal/storage/distributedlock/cassandra/lock_test.go
  internal/storage/v1/cassandra/factory.go
Labels: area/storage, changelog:skip

#6689 [storage] Add helper to storage extension for retrieving sampling store factory
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  cmd/jaeger/internal/extension/remotesampling/extension.go
  cmd/jaeger/internal/extension/remotesampling/extension_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature, area/sampling

#6693 [refactor] Move `plugin.Configurable` To Internal
  internal/sampling/samplingstrategy/adaptive/factory.go
  internal/sampling/samplingstrategy/adaptive/factory_test.go
  internal/sampling/samplingstrategy/factory.go
  internal/sampling/samplingstrategy/file/factory.go
  internal/sampling/samplingstrategy/file/factory_test.go
  internal/sampling/samplingstrategy/metafactory/factory.go
  internal/sampling/samplingstrategy/metafactory/factory_test.go
  internal/storage/metricstore/disabled/factory.go
  internal/storage/metricstore/factory.go
  internal/storage/metricstore/factory_test.go
  internal/storage/metricstore/prometheus/factory.go
  internal/storage/v1/badger/factory.go
  internal/storage/v1/cassandra/factory.go
  internal/storage/v1/configurable.go
  internal/storage/v1/elasticsearch/factory.go
  internal/storage/v1/factory.go
  internal/storage/v1/factory/factory.go
  internal/storage/v1/factory/factory_test.go
  internal/storage/v1/grpc/factory.go
  internal/storage/v1/kafka/factory.go
  internal/storage/v1/memory/factory.go
  internal/storage/v1/mocks/Configurable.go
  plugin/README.md
  plugin/doc.go
  plugin/empty_test.go
Labels: area/storage, changelog:skip

#6687 Import nop receiver/exporter and add a sample query service config
  cmd/jaeger/config-query.yaml
  cmd/jaeger/internal/components.go
  go.mod
  go.sum
Labels: changelog:bugfix-or-minor-feature

#6695 [query] Drop support for shared grpc/http query server ports
  cmd/query/app/flags.go
  cmd/query/app/flags_test.go
  cmd/query/app/server.go
  cmd/query/app/server_test.go
  go.mod
  go.sum
Labels: changelog:breaking-change

#6694 [storage] Add helper to storage extension for retrieving purger
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  cmd/jaeger/internal/integration/grpc_test.go
  cmd/jaeger/internal/integration/storagecleaner/extension.go
  cmd/jaeger/internal/integration/storagecleaner/extension_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6696 [refactor] Change `extension_test.go` to use `GetTraceStoreFactory` instead of `GetStorageFactory`
  cmd/jaeger/internal/exporters/storageexporter/exporter_test.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6701 [refactor] Conditionally implement interfaces in `v1adapter`
  internal/storage/v2/v1adapter/tracereader.go
  internal/storage/v2/v1adapter/tracereader_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6705 [fix] Revert changes to tracereader adapter
  internal/storage/v2/v1adapter/tracereader.go
  internal/storage/v2/v1adapter/tracereader_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6710 [refactor] Conditionally implement interfaces in v1adapter factory
  cmd/all-in-one/main.go
  cmd/query/main.go
  internal/storage/v2/v1adapter/factory.go
  internal/storage/v2/v1adapter/factory_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6713 Fix go alpine version to 1.24.0
  docker/debug/Dockerfile
Labels: bug, changelog:bugfix-or-minor-feature, docker

#6699 [storage] Change storage extension to hold v2 factories
  cmd/jaeger/internal/exporters/storageexporter/exporter_test.go
  cmd/jaeger/internal/extension/jaegerquery/server_test.go
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  cmd/jaeger/internal/extension/jaegerstorage/extension_test.go
  cmd/jaeger/internal/integration/storagecleaner/extension_test.go
  internal/storage/v2/v1adapter/factory.go
  internal/storage/v2/v1adapter/factory_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6720 Move pkg/cache to internal
  internal/cache/cache.go
  internal/cache/lru.go
  internal/cache/lru_test.go
  internal/storage/v1/cassandra/spanstore/operation_names.go
  internal/storage/v1/cassandra/spanstore/service_names.go
  internal/storage/v1/elasticsearch/spanstore/service_operation.go
  internal/storage/v1/elasticsearch/spanstore/writer.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6608 Create a /quality-metrics endpoint
  cmd/query/app/http_handler.go
  cmd/query/app/http_handler_test.go
  cmd/query/app/qualitymetrics/data.go
  cmd/query/app/qualitymetrics/data_test.go
  cmd/query/app/qualitymetrics/data_types.go
Labels: changelog:bugfix-or-minor-feature

#6714 Use stdlib iterators
  .golangci.yml
  cmd/jaeger/internal/exporters/storageexporter/exporter_test.go
  cmd/jaeger/internal/integration/trace_reader.go
  cmd/query/app/apiv3/gateway_test.go
  cmd/query/app/apiv3/grpc_handler.go
  cmd/query/app/apiv3/grpc_handler_test.go
  cmd/query/app/apiv3/http_gateway.go
  cmd/query/app/apiv3/http_gateway_test.go
  cmd/query/app/querysvc/v2/querysvc/service.go
  cmd/query/app/querysvc/v2/querysvc/service_test.go
  internal/jiter/iter.go
  internal/jiter/iter_test.go
  internal/jiter/package_test.go
  internal/jptrace/aggregator.go
  internal/jptrace/spaniter.go
  internal/storage/v2/api/tracestore/mocks/Reader.go
  internal/storage/v2/api/tracestore/reader.go
  internal/storage/v2/v1adapter/spanreader_test.go
  internal/storage/v2/v1adapter/tracereader.go
  internal/storage/v2/v1adapter/tracereader_test.go
  internal/storage/v2/v1adapter/translator.go
  internal/storage/v2/v1adapter/translator_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6723 Fix linter failures after upgrade
  cmd/agent/app/servers/thriftudp/socket_buffer.go
  internal/storage/v1/badger/samplingstore/storage.go
  internal/storage/v1/badger/spanstore/read_write_test.go
  internal/storage/v1/badger/spanstore/writer.go
  internal/storage/v1/badger/stats.go
  internal/storage/v1/badger/stats_test.go
  internal/storage/v1/elasticsearch/spanstore/internal/dbmodel/from_domain_test.go
  internal/tools/go.mod
  internal/tools/go.sum
  model/converter/json/from_domain_test.go
Labels: changelog:dependencies

#6722 [refactor] Use plain loops with iterators
  cmd/query/app/apiv3/grpc_handler.go
  internal/jiter/iter.go
  internal/jiter/iter_test.go
Labels: changelog:bugfix-or-minor-feature

#6719 Allow CI workflows to run from merge queue
  .github/workflows/ci-build-binaries.yml
  .github/workflows/ci-crossdock.yml
  .github/workflows/ci-docker-all-in-one.yml
  .github/workflows/ci-docker-build.yml
  .github/workflows/ci-docker-hotrod.yml
  .github/workflows/ci-e2e-all.yml
  .github/workflows/ci-e2e-spm.yml
  .github/workflows/ci-e2e-tailsampling-processor.yml
  .github/workflows/ci-lint-checks.yaml
  .github/workflows/ci-lint-dependabot-config.yml
  .github/workflows/ci-unit-tests-go-tip.yml
  .github/workflows/ci-unit-tests.yml
  .github/workflows/codeql.yml
  .github/workflows/dco_merge_group.yml
  .github/workflows/fossa.yml
  .github/workflows/label-check.yml
Labels: changelog:ci

#6726 Do not run label check from merge queue
  .github/workflows/label-check.yml
Labels: changelog:ci

#6727 Do not run dco-check from merge queue
  .github/workflows/ci-lint-checks.yaml
Labels: changelog:ci

#6638 [bug][storage] Make ES-Rollover idempotent by checking if the index or alias already exist
  cmd/es-rollover/app/init/action.go
  cmd/es-rollover/app/init/action_test.go
  internal/storage/integration/es_index_rollover_test.go
  pkg/es/client/index_client.go
  pkg/es/client/index_client_test.go
  pkg/es/client/interfaces.go
  pkg/es/client/mocks/IndexAPI.go
Labels: area/storage, storage/elasticsearch, changelog:bugfix-or-minor-feature

#6730 [remote-storage][v2] Add proto definition for `GetTraces` rpc
  internal/storage/v2/grpc/trace_storage.proto
  proto-gen/storage/v2/trace_storage.pb.go
  scripts/makefiles/Protobuf.mk
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6733 Fix /qualitymetrics to return data in expected format
  cmd/query/app/http_handler.go
  cmd/query/app/http_handler_test.go
Labels: changelog:bugfix-or-minor-feature

#6736 [remote-storage][v2] Add proto definition for `GetServices` and `GetOperations` rpc
  internal/storage/v2/grpc/trace_storage.proto
  proto-gen/storage/v2/trace_storage.pb.go
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6738 [remote-storage][v2] Add IDL for dependency storage
  internal/storage/v2/grpc/dependency_storage.proto
  proto-gen/storage/v2/dependency_storage.pb.go
  scripts/makefiles/Protobuf.mk
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6758 [idl check] Fetch tags
  .github/workflows/ci-lint-checks.yaml
  scripts/lint/check-jaeger-idl-version.sh
Labels: changelog:ci

#6759 [Fix]: update all otel collector packages
  cmd/jaeger/internal/components.go
  cmd/jaeger/internal/exporters/storageexporter/config.go
  cmd/jaeger/internal/exporters/storageexporter/exporter_test.go
  cmd/jaeger/internal/extension/expvar/factory_test.go
  cmd/jaeger/internal/extension/jaegerquery/config.go
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/remotesampling/config.go
  cmd/jaeger/internal/extension/remotesampling/extension_test.go
  cmd/jaeger/internal/extension/remotesampling/factory_test.go
  cmd/jaeger/internal/integration/storagecleaner/factory_test.go
  cmd/jaeger/internal/processors/adaptivesampling/config.go
  cmd/jaeger/internal/processors/adaptivesampling/processor_test.go
  go.mod
  go.sum
Labels: area/otel, changelog:dependencies

#6737 [remote-storage][v2] Add complete IDL for trace storage
  internal/storage/v2/grpc/trace_storage.proto
  proto-gen/storage/v2/trace_storage.pb.go
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6771 Revert "Add 'features' command to print available feature gates"
  cmd/jaeger/internal/features/display.go
  cmd/jaeger/internal/features/display_test.go
  cmd/jaeger/main.go
Labels: changelog:bugfix-or-minor-feature

#6770 [refactor] Return start and end timestamps from `FindTraceIDs` in v2 api
  cmd/jaeger/internal/integration/trace_reader.go
  internal/storage/v2/api/tracestore/mocks/Reader.go
  internal/storage/v2/api/tracestore/reader.go
  internal/storage/v2/v1adapter/spanreader_test.go
  internal/storage/v2/v1adapter/tracereader.go
  internal/storage/v2/v1adapter/tracereader_test.go
  internal/storage/v2/v1adapter/translator.go
  internal/storage/v2/v1adapter/translator_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6772 [refactor] Return start and end timestamps from FindTraceIDs in v2 remote storage api
  internal/storage/v2/grpc/trace_storage.proto
  proto-gen/storage/v2/trace_storage.pb.go
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6775 [refactor] Inline proto definiton of `KeyValue` from OTEL
  internal/storage/v2/grpc/trace_storage.proto
  proto-gen/storage/v2/trace_storage.pb.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6779 [refactor] Decouple `TraceQueryParams` from `Query` in integration tests
  internal/storage/integration/integration.go
Labels: enhancement, area/storage, changelog:bugfix-or-minor-feature

#6780 [refactor] Change `TraceQueryParams` to accept typed attributes
  cmd/jaeger/internal/integration/trace_reader.go
  cmd/query/app/apiv3/grpc_handler.go
  cmd/query/app/apiv3/http_gateway.go
  cmd/query/app/apiv3/http_gateway_test.go
  internal/jptrace/attributes.go
  internal/jptrace/attributes_test.go
  internal/storage/integration/fixtures/queries.json
  internal/storage/integration/integration.go
  internal/storage/v2/api/tracestore/reader.go
  internal/storage/v2/api/tracestore/reader_test.go
  internal/storage/v2/v1adapter/spanreader.go
  internal/storage/v2/v1adapter/spanreader_test.go
  internal/storage/v2/v1adapter/tracereader_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6782 feat: Enable configuration of hostnames for hotrod services
  examples/hotrod/cmd/customer.go
  examples/hotrod/cmd/driver.go
  examples/hotrod/cmd/flags.go
  examples/hotrod/cmd/frontend.go
  examples/hotrod/cmd/root.go
  examples/hotrod/cmd/route.go
Labels: changelog:bugfix-or-minor-feature, docker

#6784 [refactor] Converge v2 API with v2 remote storage API
  cmd/jaeger/internal/integration/trace_reader.go
  cmd/query/app/apiv3/grpc_handler.go
  cmd/query/app/apiv3/http_gateway.go
  cmd/query/app/apiv3/http_gateway_test.go
  cmd/query/app/querysvc/v2/querysvc/service_test.go
  internal/storage/integration/integration.go
  internal/storage/v2/api/tracestore/reader.go
  internal/storage/v2/api/tracestore/reader_test.go
  internal/storage/v2/v1adapter/spanreader.go
  internal/storage/v2/v1adapter/tracereader_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6785 [fix] Fix flaky unit test in `attributes_test.go`
  internal/jptrace/attributes_test.go
Labels: changelog:skip

#6786 [refactor] Refactor `jptrace/attributes_tests.go` for readability
  cmd/jaeger/internal/integration/trace_reader.go
  cmd/query/app/apiv3/grpc_handler.go
  internal/jptrace/attributes.go
  internal/jptrace/attributes_test.go
  internal/storage/v2/api/tracestore/reader.go
  internal/storage/v2/v1adapter/spanreader.go
Labels: changelog:bugfix-or-minor-feature
