Repository jaegertracing/jaeger, pull requests merged in 2025-05, with the labels that each got.

#7092 Check that version number is corectly embedded in the binary
  Makefile
  scripts/makefiles/BuildBinaries.mk
Labels: changelog:ci

#7094 Add filterprocessor
  .github/workflows/ci-lint-checks.yaml
  cmd/jaeger/internal/components.go
  go.mod
  go.sum
Labels: changelog:new-feature

#7096 Do not run binary size check on push to main
  .github/workflows/ci-lint-checks.yaml
Labels: changelog:ci

#7109 Patch github.com/ebitengine/purego
  go.mod
  go.sum
Labels: changelog:bugfix-or-minor-feature

#7111 [grpc] Allow remote storage endpoint to be set via environment variable
  cmd/jaeger/config-remote-storage.yaml
Labels: area/storage, changelog:refactoring

#7112 [fix] Propagate environment variables to binary from integration tests
  cmd/jaeger/config-remote-storage.yaml
  cmd/jaeger/internal/integration/e2e_integration.go
  cmd/jaeger/internal/integration/grpc_test.go
Labels: changelog:bugfix-or-minor-feature

#7097 [docs] Add README for new gRPC Remote Storage API
  cmd/jaeger/internal/integration/grpc_test.go
  internal/storage/v1/grpc/README.md
  internal/storage/v2/grpc/README.md
Labels: documentation, area/storage, changelog:skip

#7113 [refactor] Remove archive storage from gRPC config
  cmd/jaeger/config-remote-storage-backend.yaml
  cmd/jaeger/config-remote-storage.yaml
  cmd/jaeger/internal/integration/grpc_test.go
  internal/storage/v2/grpc/README.md
Labels: area/storage, changelog:refactoring

#7114 [refactor] Allow storage cleaner to be overridden via environment variable
  cmd/jaeger/internal/integration/e2e_integration.go
  internal/storage/v2/grpc/README.md
Labels: documentation, area/storage, changelog:refactoring

#7006 [Fix] Restore ES metrics
  internal/storage/elasticsearch/config/config.go
  internal/storage/elasticsearch/config/config_test.go
  internal/storage/v1/elasticsearch/spanstore/writer.go
  internal/storage/v1/elasticsearch/spanstore/writer_test.go
  internal/storage/v2/elasticsearch/tracestore/writer_test.go
Labels: storage/elasticsearch, changelog:bugfix-or-minor-feature

#7116 [fix] Fix mermaid diagram for gRPC integration test setup
  cmd/jaeger/internal/integration/README.md
Labels: documentation, changelog:skip

#7126 [refactor]: use slices.Contains to simplify code
  internal/storage/integration/integration.go
Labels: area/storage, changelog:skip, go

#7129 [docs] Add mermaid diagram for gRPC storage integration test setup
  internal/storage/v2/grpc/README.md
Labels: documentation, area/storage, changelog:skip

#7131 Minor cleanup of grpc storage docs
  CHANGELOG.md
  internal/storage/v1/grpc/README.md
  internal/storage/v2/grpc/README.md
Labels: documentation, area/storage, changelog:skip

#7132 Add retry configuration to storage exporter
  cmd/jaeger/internal/exporters/storageexporter/README.md
  cmd/jaeger/internal/exporters/storageexporter/config.go
  cmd/jaeger/internal/exporters/storageexporter/factory.go
  cmd/jaeger/internal/exporters/storageexporter/factory_test.go
Labels: enhancement, area/storage, changelog:bugfix-or-minor-feature

#7062 [v2] Implement `FindTraces` for memory backend
  internal/storage/v2/memory/fixtures/db_traces_01.json
  internal/storage/v2/memory/fixtures/db_traces_02.json
  internal/storage/v2/memory/fixtures/otel_traces_01.json
  internal/storage/v2/memory/memory.go
  internal/storage/v2/memory/memory_test.go
  internal/storage/v2/memory/tenant.go
Labels: area/storage, v2, changelog:exprimental

#7144 Add docker-compose-elasticsearch.yml and its sample configuration
  cmd/jaeger/config-spm-elasticsearch.yaml
  docker-compose/monitor/docker-compose-elasticsearch.yml
Labels: area/storage, changelog:exprimental, docker

#7145 Add e2e test for docker-compose-elasticsearch.yml file
  .github/workflows/ci-e2e-spm.yml
  docker-compose/monitor/Makefile
  scripts/e2e/spm.sh
Labels: storage/elasticsearch, changelog:exprimental, docker

#7146 Add description for docker-compose-elasticsearch.yml
  docker-compose/monitor/README.md
Labels: documentation, changelog:exprimental

#7143 [v2] Implement `FindTraceIDs` for memory backend
  internal/storage/v2/memory/memory.go
  internal/storage/v2/memory/memory_test.go
  internal/storage/v2/memory/tenant.go
Labels: area/storage, v2, changelog:exprimental

#7151 [feat] Use v2 ES/OS storage in Jaeger-v2
  cmd/jaeger/internal/extension/jaegerstorage/extension.go
  internal/storage/v1/elasticsearch/factory_v1.go
  internal/storage/v1/elasticsearch/factoryv1_test.go
Labels: area/storage, storage/elasticsearch, changelog:new-feature, v2

#7158 [refactor] Move sanitizer
  cmd/collector/app/span_processor.go
  cmd/jaeger/internal/exporters/storageexporter/exporter.go
  cmd/jaeger/sanitizer/package_test.go
  cmd/jaeger/sanitizer/sanitizer.go
  internal/jptrace/sanitizer/emptyservicename.go
  internal/jptrace/sanitizer/emptyservicename_test.go
  internal/jptrace/sanitizer/package_test.go
  internal/jptrace/sanitizer/sanitizer.go
  internal/jptrace/sanitizer/sanitizer_test.go
  internal/jptrace/sanitizer/utf8.go
  internal/jptrace/sanitizer/utf8_test.go
Labels: changelog:refactoring

#7128 [Fix] Fix prometheus label value is not valid utf 8 cause api timeout
  internal/jptrace/utf8.go
  internal/jptrace/utf8_test.go
  internal/metrics/prometheus/factory.go
  internal/metrics/prometheus/factory_test.go
Labels: bug, changelog:bugfix-or-minor-feature

#7180 [clickhouse] Implement GetOperations for trace reader in ClickHouse storage
  internal/storage/v2/clickhouse/tracestore/dbmodel/dbmodel.go
  internal/storage/v2/clickhouse/tracestore/reader.go
  internal/storage/v2/clickhouse/tracestore/reader_test.go
Labels: enhancement, area/storage, changelog:exprimental
