Repository jaegertracing/jaeger, pull requests merged in 2025-01, with the labels that each got.

#6453 [v2][query] Fix query service to not perform aggregation for raw traces
  cmd/query/app/querysvc/v2/querysvc/service.go
  cmd/query/app/querysvc/v2/querysvc/service_test.go
Labels: v2, changelog:skip

#6452 [api_v3][query] Change api_v3 grpc handler to use query service v2
  cmd/all-in-one/main.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerquery/server_test.go
  cmd/query/app/apiv3/grpc_handler.go
  cmd/query/app/apiv3/grpc_handler_test.go
  cmd/query/app/flags.go
  cmd/query/app/flags_test.go
  cmd/query/app/server.go
  cmd/query/app/server_test.go
  cmd/query/app/token_propagation_test.go
  cmd/query/main.go
  storage_v2/v1adapter/archive.go
  storage_v2/v1adapter/archive_test.go
  storage_v2/v1adapter/writer.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6457 [agent] Remove baggage restriction manager
  cmd/agent/app/builder.go
  cmd/agent/app/builder_test.go
  cmd/agent/app/configmanager/grpc/manager.go
  cmd/agent/app/configmanager/grpc/manager_test.go
  cmd/agent/app/configmanager/manager.go
  cmd/agent/app/configmanager/metrics.go
  cmd/agent/app/configmanager/metrics_test.go
  cmd/agent/app/flags.go
  cmd/agent/app/httpserver/srv.go
  cmd/collector/app/server/http.go
  pkg/clientcfg/clientcfghttp/cfgmgr.go
  pkg/clientcfg/clientcfghttp/cfgmgr_test.go
  pkg/clientcfg/clientcfghttp/handler.go
  pkg/clientcfg/clientcfghttp/handler_test.go
Labels: changelog:skip

#6448 Move e2e scripts to scripts/e2e
  .github/workflows/ci-e2e-cassandra.yml
  .github/workflows/ci-e2e-elasticsearch.yml
  .github/workflows/ci-e2e-kafka.yml
  .github/workflows/ci-e2e-opensearch.yml
  .github/workflows/ci-e2e-spm.yml
  plugin/storage/es/README.md
  scripts/e2e/adaptive-sampling-integration-test.sh
  scripts/e2e/cassandra.sh
  scripts/e2e/elasticsearch.sh
  scripts/e2e/kafka.sh
  scripts/e2e/spm.sh
Labels: changelog:ci

#6437 Upgrade storage integration test: use `TraceWriter`
  cmd/jaeger/internal/integration/e2e_integration.go
  cmd/jaeger/internal/integration/span_writer.go
  cmd/jaeger/internal/integration/trace_writer.go
  cmd/jaeger/internal/integration/trace_writer_test.go
  plugin/storage/integration/badgerstore_test.go
  plugin/storage/integration/cassandra_test.go
  plugin/storage/integration/elasticsearch_test.go
  plugin/storage/integration/grpc_test.go
  plugin/storage/integration/integration.go
  plugin/storage/integration/kafka_test.go
  plugin/storage/integration/memstore_test.go
  storage_v2/v1adapter/translator.go
  storage_v2/v1adapter/translator_test.go
Labels: area/storage, storage/elasticsearch, storage/badger, storage/kafka, storage/cassandra, v2, changelog:ci

#6463 Move util scripts to scripts/util
  .github/workflows/ci-lint-checks.yaml
  scripts/build/build-crossdock.sh
  scripts/build/build-upload-a-docker-image.sh
  scripts/util/compute-tags.sh
  scripts/util/compute-tags.test.sh
  scripts/util/docker-login.sh
Labels: changelog:ci

#6449 Move lint scripts to scripts/lint
  .github/workflows/ci-lint-checks.yaml
  Makefile
  scripts/lint/check-go-version.sh
  scripts/lint/check-goleak-files.sh
  scripts/lint/check-semconv-version.sh
  scripts/lint/check-test-files.sh
  scripts/lint/dco_check.py
  scripts/lint/import-order-cleanup.py
  scripts/lint/replace_license_headers.py
  scripts/lint/update-semconv-version.sh
  scripts/lint/updateLicense.py
Labels: changelog:ci

#6465 Move script/util/* to script/utils/*
  .github/workflows/ci-lint-checks.yaml
  scripts/build/build-crossdock.sh
  scripts/build/build-upload-a-docker-image.sh
  scripts/utils/compute-tags.sh
  scripts/utils/compute-tags.test.sh
  scripts/utils/docker-login.sh
Labels: changelog:skip

#6469 [test] Change api_v3 unit tests to use `tracestore` natively
  cmd/query/app/apiv3/gateway_test.go
  cmd/query/app/apiv3/grpc_handler_test.go
Labels: changelog:skip

#6459 [api_v3][query] Change api_v3 http handler to use v2 query service
  cmd/query/app/apiv3/gateway_test.go
  cmd/query/app/apiv3/grpc_handler_test.go
  cmd/query/app/apiv3/http_gateway.go
  cmd/query/app/apiv3/http_gateway_test.go
  cmd/query/app/apiv3/otlp_translator.go
  cmd/query/app/apiv3/snapshots/FindTraces.json
  cmd/query/app/apiv3/snapshots/GetTrace.json
  cmd/query/app/server.go
Labels: changelog:bugfix-or-minor-feature, v2

#6482 [query] Update v1 query service to check for adapter at construction
  cmd/query/app/querysvc/query_service.go
  cmd/query/app/querysvc/query_service_test.go
  storage_v2/v1adapter/reader.go
  storage_v2/v1adapter/reader_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6472 Move remaining util scripts
  .github/workflows/ci-build-binaries.yml
  Makefile.BuildInfo.mk
  Makefile.Windows.mk
  scripts/build/build-upload-a-docker-image.sh
  scripts/build/upload-docker-readme.sh
  scripts/utils/compute-version.sh
  scripts/utils/generate-help-output.sh
  scripts/utils/platforms-to-gh-matrix.sh
Labels: changelog:ci

#6483 Move release notes scripts to scripts/release/
  Makefile
  scripts/release/draft.py
  scripts/release/notes.py
Labels: changelog:skip

#6478 [refractor] Remove dependency on tlscfg.Options
  cmd/agent/app/reporter/grpc/builder_test.go
  cmd/agent/app/reporter/grpc/flags.go
  cmd/collector/app/flags/flags.go
  cmd/collector/app/server/grpc_test.go
  cmd/collector/app/server/http_test.go
  cmd/es-index-cleaner/app/flags.go
  cmd/es-rollover/app/flags.go
  cmd/internal/flags/admin.go
  cmd/internal/flags/admin_test.go
  cmd/query/app/flags.go
  cmd/remote-storage/app/flags.go
  cmd/remote-storage/app/server_test.go
  pkg/config/tlscfg/flags.go
  pkg/config/tlscfg/flags_test.go
  pkg/config/tlscfg/options.go
  pkg/config/tlscfg/options_test.go
  pkg/kafka/auth/config.go
  pkg/kafka/auth/config_test.go
  plugin/metricstore/prometheus/options.go
  plugin/storage/cassandra/options.go
  plugin/storage/es/options.go
  plugin/storage/grpc/options.go
  plugin/storage/kafka/options_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6484 Refactor collector pipeline to allow v1/v2 data model
  cmd/collector/app/collector_test.go
  cmd/collector/app/handler/grpc_handler.go
  cmd/collector/app/handler/grpc_handler_test.go
  cmd/collector/app/handler/thrift_span_handler.go
  cmd/collector/app/handler/thrift_span_handler_test.go
  cmd/collector/app/model_consumer.go
  cmd/collector/app/options.go
  cmd/collector/app/options_test.go
  cmd/collector/app/processor/constants.go
  cmd/collector/app/processor/package_test.go
  cmd/collector/app/processor/processor.go
  cmd/collector/app/processor/processor_test.go
  cmd/collector/app/server/test.go
  cmd/collector/app/span_processor.go
  cmd/collector/app/span_processor_test.go
  cmd/jaeger/internal/integration/trace_writer.go
Labels: changelog:bugfix-or-minor-feature, v2

#6486 Change collector's queue to use generics
  cmd/collector/app/span_processor.go
  pkg/queue/bounded_queue.go
  pkg/queue/bounded_queue_test.go
Labels: changelog:bugfix-or-minor-feature

#6488 Return errors from span processor creation
  cmd/collector/app/collector.go
  cmd/collector/app/span_handler_builder.go
  cmd/collector/app/span_handler_builder_test.go
  cmd/collector/app/span_processor.go
  cmd/collector/app/span_processor_test.go
Labels: changelog:bugfix-or-minor-feature

#6477 Upgrade storage integration tests: `DependencyReader` to v2
  plugin/storage/integration/cassandra_test.go
  plugin/storage/integration/elasticsearch_test.go
  plugin/storage/integration/integration.go
Labels: area/storage, storage/elasticsearch, storage/cassandra, v2, changelog:ci

#6511 [es-cleaner] Do not fail if the index does not exist
  cmd/es-index-cleaner/main.go
  pkg/es/client/index_client.go
  pkg/es/client/index_client_test.go
Labels: bug, storage/elasticsearch, changelog:bugfix-or-minor-feature

#6513 chore: fix some struct names in comment
  cmd/collector/app/sanitizer/service_name_sanitizer.go
  pkg/es/client/index_client.go
  storage_v2/tracestore/writer.go
Labels: changelog:skip

#6526 [refactor][storage] Remove metrics factory distinctions from storage factories
  plugin/storage/cassandra/factory.go
  plugin/storage/es/factory.go
  plugin/storage/factory.go
  plugin/storage/grpc/factory.go
  plugin/storage/memory/factory.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6524 Add standard tags for internal warnings and span format
  cmd/collector/app/span_processor.go
  internal/jptrace/attributes.go
  internal/jptrace/warning.go
  internal/jptrace/warning_test.go
Labels: changelog:bugfix-or-minor-feature

#6530 Use bash script markdown in CONTRIBUTING.md
  CONTRIBUTING_GUIDELINES.md
Labels: documentation, changelog:bugfix-or-minor-feature

#6525 Enable reload-interval flag for all TLS server configs
  cmd/collector/app/flags/flags.go
  cmd/collector/app/flags/flags_test.go
  pkg/config/tlscfg/flags.go
  pkg/config/tlscfg/flags_test.go
Labels: changelog:bugfix-or-minor-feature

#6431 Make all-in-one.yaml file independant of sampling-strategies.json file
  cmd/jaeger/internal/all-in-one.yaml
  cmd/jaeger/internal/extension/remotesampling/config.go
  cmd/jaeger/internal/extension/remotesampling/config_test.go
  cmd/jaeger/internal/extension/remotesampling/extension.go
  cmd/jaeger/internal/extension/remotesampling/extension_test.go
  cmd/jaeger/internal/extension/remotesampling/factory.go
  plugin/sampling/strategyprovider/static/constants.go
  plugin/sampling/strategyprovider/static/options.go
  plugin/sampling/strategyprovider/static/provider.go
  plugin/sampling/strategyprovider/static/provider_test.go
Labels: changelog:bugfix-or-minor-feature, area/sampling

#6491 Switch v1 collector pipeline to v2 Writer
  cmd/all-in-one/main.go
  cmd/collector/app/collector.go
  cmd/collector/app/collector_test.go
  cmd/collector/app/metrics.go
  cmd/collector/app/metrics_test.go
  cmd/collector/app/span_handler_builder.go
  cmd/collector/app/span_handler_builder_test.go
  cmd/collector/app/span_processor.go
  cmd/collector/app/span_processor_test.go
  cmd/collector/main.go
  cmd/jaeger/sanitizer/package_test.go
  cmd/jaeger/sanitizer/sanitizer.go
  storage_v2/v1adapter/writer.go
  storage_v2/v1adapter/writer_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6531 [refactor] Move cmd/collector/app/sampling/model types to storage
  plugin/sampling/strategyprovider/adaptive/aggregator.go
  plugin/sampling/strategyprovider/adaptive/factory_test.go
  plugin/sampling/strategyprovider/adaptive/post_aggregator.go
  plugin/sampling/strategyprovider/adaptive/post_aggregator_test.go
  plugin/sampling/strategyprovider/adaptive/provider.go
  plugin/sampling/strategyprovider/adaptive/provider_test.go
  plugin/storage/badger/samplingstore/storage.go
  plugin/storage/badger/samplingstore/storage_test.go
  plugin/storage/cassandra/samplingstore/storage.go
  plugin/storage/cassandra/samplingstore/storage_test.go
  plugin/storage/es/samplingstore/dbmodel/converter.go
  plugin/storage/es/samplingstore/dbmodel/converter_test.go
  plugin/storage/es/samplingstore/storage.go
  plugin/storage/es/samplingstore/storage_test.go
  plugin/storage/integration/integration.go
  plugin/storage/memory/sampling.go
  plugin/storage/memory/sampling_test.go
  storage/samplingstore/interface.go
  storage/samplingstore/mocks/Store.go
  storage/samplingstore/model/empty_test.go
  storage/samplingstore/model/sampling.go
Labels: area/storage, changelog:bugfix-or-minor-feature, storage/cassandra, area/sampling

#6534 Pass Context through span processors
  cmd/collector/app/collector_test.go
  cmd/collector/app/handler/grpc_handler.go
  cmd/collector/app/handler/grpc_handler_test.go
  cmd/collector/app/handler/http_thrift_handler.go
  cmd/collector/app/handler/http_thrift_handler_test.go
  cmd/collector/app/handler/thrift_span_handler.go
  cmd/collector/app/handler/thrift_span_handler_test.go
  cmd/collector/app/processor/processor.go
  cmd/collector/app/server/test.go
  cmd/collector/app/span_processor.go
  cmd/collector/app/span_processor_test.go
Labels: changelog:bugfix-or-minor-feature

#6523 Use jaeger-v2 by default in Hotrod and Monitor examples
  docker-compose/monitor/Makefile
  docker-compose/monitor/README.md
  docker-compose/monitor/docker-compose-v1.yml
  docker-compose/monitor/docker-compose-v2.yml
  docker-compose/monitor/docker-compose.yml
  examples/hotrod/docker-compose-v1.yml
  examples/hotrod/docker-compose.yml
  scripts/build/build-hotrod-image.sh
  scripts/e2e/spm.sh
Labels: changelog:bugfix-or-minor-feature, docker

#6540 [refactor] Move sampling grpc handler to internal/sampling/grpc
  cmd/collector/app/server/grpc.go
  cmd/jaeger/internal/extension/remotesampling/extension.go
  internal/sampling/grpc/grpc_handler.go
  internal/sampling/grpc/grpc_handler_test.go
Labels: changelog:bugfix-or-minor-feature, area/sampling

#6490 [storage] Remove dependency on archive flag in ES reader
  plugin/storage/es/factory.go
  plugin/storage/es/factory_test.go
  plugin/storage/es/spanstore/index_utils.go
  plugin/storage/es/spanstore/reader.go
  plugin/storage/es/spanstore/reader_test.go
  plugin/storage/es/spanstore/writer.go
  plugin/storage/es/spanstore/writer_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6546 [refactor] Move plugin/sampling/leaderelection to internal/leaderelection
  cmd/jaeger/internal/extension/remotesampling/extension.go
  internal/leaderelection/leader_election.go
  internal/leaderelection/leader_election_test.go
  internal/leaderelection/mocks/ElectionParticipant.go
  plugin/sampling/strategyprovider/adaptive/aggregator.go
  plugin/sampling/strategyprovider/adaptive/aggregator_test.go
  plugin/sampling/strategyprovider/adaptive/factory.go
  plugin/sampling/strategyprovider/adaptive/post_aggregator.go
  plugin/sampling/strategyprovider/adaptive/post_aggregator_test.go
  plugin/sampling/strategyprovider/adaptive/provider.go
  plugin/sampling/strategyprovider/adaptive/provider_test.go
Labels: changelog:bugfix-or-minor-feature, area/sampling

#6532 Switch v1 receivers to use v2 write path
  cmd/collector/app/handler/grpc_handler_test.go
  cmd/collector/app/handler/otlp_receiver.go
  cmd/collector/app/handler/otlp_receiver_test.go
  cmd/collector/app/handler/zipkin_receiver.go
Labels: changelog:bugfix-or-minor-feature, v2

#6547 [refactor] Move sampling strategy interfaces to internal/sampling/strategy
  cmd/collector/app/collector.go
  cmd/collector/app/server/grpc.go
  cmd/collector/app/server/http.go
  cmd/jaeger/internal/extension/remotesampling/extension.go
  cmd/jaeger/internal/processors/adaptivesampling/processor.go
  internal/sampling/grpc/grpc_handler.go
  internal/sampling/http/cfgmgr.go
  internal/sampling/samplingstrategy/empty_test.go
  internal/sampling/samplingstrategy/factory.go
  internal/sampling/samplingstrategy/interface.go
  plugin/sampling/strategyprovider/adaptive/aggregator.go
  plugin/sampling/strategyprovider/adaptive/factory.go
  plugin/sampling/strategyprovider/adaptive/factory_test.go
  plugin/sampling/strategyprovider/factory.go
  plugin/sampling/strategyprovider/factory_test.go
  plugin/sampling/strategyprovider/static/factory.go
  plugin/sampling/strategyprovider/static/factory_test.go
  plugin/sampling/strategyprovider/static/provider.go
Labels: changelog:bugfix-or-minor-feature, area/sampling

#6529 [CI] Add workflow to guard against increases in the binary size
  .github/workflows/ci-lint-checks.yaml
Labels: changelog:ci

#6330 [ci] Scrape and verify metrics at the end of e2e tests
  .github/actions/verify-metrics-snapshot/action.yaml
  .github/workflows/ci-e2e-all.yml
  .github/workflows/ci-e2e-badger.yaml
  .github/workflows/ci-e2e-cassandra.yml
  .github/workflows/ci-e2e-elasticsearch.yml
  .github/workflows/ci-e2e-grpc.yml
  .github/workflows/ci-e2e-kafka.yml
  .github/workflows/ci-e2e-memory.yaml
  .github/workflows/ci-e2e-opensearch.yml
  .gitignore
  cmd/jaeger/internal/integration/e2e_integration.go
  scripts/e2e/compare_metrics.py
Labels: changelog:ci

#6552 [ci] Fix binary-size-check workflow
  .github/workflows/ci-lint-checks.yaml
Labels: changelog:ci

#6555 [v2][storage] Implement reverse adapter to translate v2 writer to v1
  storage_v2/v1adapter/spanwriter.go
  storage_v2/v1adapter/spanwriter_test.go
  storage_v2/v1adapter/tracereader.go
  storage_v2/v1adapter/tracereader_test.go
  storage_v2/v1adapter/tracewriter.go
  storage_v2/v1adapter/tracewriter_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6519 [v2][query] Create archive reader/writer using regular factory methods
  cmd/collector/app/span_processor.go
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/jaeger/internal/extension/jaegerquery/server_test.go
  cmd/query/app/querysvc/query_service.go
  storage_v2/v1adapter/tracereader.go
  storage_v2/v1adapter/tracereader_test.go
  storage_v2/v1adapter/tracewriter.go
  storage_v2/v1adapter/tracewriter_test.go
Labels: area/storage, changelog:breaking-change, v2

#6561 [refactor] Move sampling strategy providers to internal/sampling/samplingstrategy
  cmd/all-in-one/main.go
  cmd/collector/main.go
  cmd/internal/env/command.go
  cmd/jaeger/internal/extension/remotesampling/config.go
  cmd/jaeger/internal/extension/remotesampling/extension.go
  cmd/jaeger/internal/extension/remotesampling/extension_test.go
  cmd/jaeger/internal/extension/remotesampling/factory.go
  cmd/jaeger/internal/processors/adaptivesampling/processor.go
  cmd/jaeger/internal/processors/adaptivesampling/processor_test.go
  internal/sampling/samplingstrategy/adaptive/README.md
  internal/sampling/samplingstrategy/adaptive/aggregator.go
  internal/sampling/samplingstrategy/adaptive/aggregator_test.go
  internal/sampling/samplingstrategy/adaptive/cache.go
  internal/sampling/samplingstrategy/adaptive/cache_test.go
  internal/sampling/samplingstrategy/adaptive/calculationstrategy/interface.go
  internal/sampling/samplingstrategy/adaptive/calculationstrategy/interface_test.go
  internal/sampling/samplingstrategy/adaptive/calculationstrategy/package_test.go
  internal/sampling/samplingstrategy/adaptive/calculationstrategy/percentage_increase_capped_calculator.go
  internal/sampling/samplingstrategy/adaptive/calculationstrategy/percentage_increase_capped_calculator_test.go
  internal/sampling/samplingstrategy/adaptive/factory.go
  internal/sampling/samplingstrategy/adaptive/factory_test.go
  internal/sampling/samplingstrategy/adaptive/floatutils.go
  internal/sampling/samplingstrategy/adaptive/floatutils_test.go
  internal/sampling/samplingstrategy/adaptive/options.go
  internal/sampling/samplingstrategy/adaptive/options_test.go
  internal/sampling/samplingstrategy/adaptive/package_test.go
  internal/sampling/samplingstrategy/adaptive/post_aggregator.go
  internal/sampling/samplingstrategy/adaptive/post_aggregator_test.go
  internal/sampling/samplingstrategy/adaptive/provider.go
  internal/sampling/samplingstrategy/adaptive/provider_test.go
  internal/sampling/samplingstrategy/adaptive/weightvectorcache.go
  internal/sampling/samplingstrategy/adaptive/weightvectorcache_test.go
  internal/sampling/samplingstrategy/aggregator.go
  internal/sampling/samplingstrategy/file/constants.go
  internal/sampling/samplingstrategy/file/factory.go
  internal/sampling/samplingstrategy/file/factory_test.go
  internal/sampling/samplingstrategy/file/fixtures/TestServiceNoPerOperationStrategiesDeprecatedBehavior_ServiceA.json
  internal/sampling/samplingstrategy/file/fixtures/TestServiceNoPerOperationStrategiesDeprecatedBehavior_ServiceB.json
  internal/sampling/samplingstrategy/file/fixtures/TestServiceNoPerOperationStrategies_ServiceA.json
  internal/sampling/samplingstrategy/file/fixtures/TestServiceNoPerOperationStrategies_ServiceB.json
  internal/sampling/samplingstrategy/file/fixtures/bad_strategies.json
  internal/sampling/samplingstrategy/file/fixtures/missing-service-types.json
  internal/sampling/samplingstrategy/file/fixtures/operation_strategies.json
  internal/sampling/samplingstrategy/file/fixtures/service_no_per_operation.json
  internal/sampling/samplingstrategy/file/fixtures/strategies.json
  internal/sampling/samplingstrategy/file/options.go
  internal/sampling/samplingstrategy/file/package_test.go
  internal/sampling/samplingstrategy/file/provider.go
  internal/sampling/samplingstrategy/file/provider_test.go
  internal/sampling/samplingstrategy/file/strategy.go
  internal/sampling/samplingstrategy/metafactory/factory.go
  internal/sampling/samplingstrategy/metafactory/factory_config.go
  internal/sampling/samplingstrategy/metafactory/factory_config_test.go
  internal/sampling/samplingstrategy/metafactory/factory_test.go
  internal/sampling/samplingstrategy/metafactory/package_test.go
  internal/sampling/samplingstrategy/provider.go
Labels: changelog:bugfix-or-minor-feature, area/sampling

#6559 [storage]Upgraded integration tests to use Dependency Writer of storage_v2
  plugin/storage/integration/cassandra_test.go
  plugin/storage/integration/elasticsearch_test.go
  plugin/storage/integration/integration.go
  storage_v2/depstore/writer.go
  storage_v2/v1adapter/tracewriter.go
Labels: area/storage, v2, changelog:ci

#6568 Document usage of feature gates for breaking changes
  CONTRIBUTING.md
Labels: documentation, changelog:bugfix-or-minor-feature

#6580 [chore] Remove unused method from grpc handler
  plugin/storage/grpc/shared/grpc_handler.go
  plugin/storage/grpc/shared/grpc_handler_test.go
Labels: changelog:bugfix-or-minor-feature

#6576 [storage]Generate mocks for dependency writer of v2
  .github/workflows/ci-lint-checks.yaml
  storage_v2/depstore/mocks/Writer.go
Labels: area/storage, changelog:bugfix-or-minor-feature, v2

#6581 Separate model parts into more independent pieces
  model/flags.go
  model/flags_test.go
  model/ids.go
  model/ids_proto_test.go
  model/ids_test.go
  model/otelids.go
  model/otelids_test.go
  model/span.go
  model/span_test.go
Labels: changelog:bugfix-or-minor-feature

#6586 Remove Logger parameter in adaptive/aggregator.go
  cmd/collector/app/collector.go
  cmd/collector/app/collector_test.go
  cmd/jaeger/internal/processors/adaptivesampling/processor.go
  cmd/jaeger/internal/processors/adaptivesampling/processor_test.go
  internal/sampling/samplingstrategy/adaptive/aggregator.go
  internal/sampling/samplingstrategy/adaptive/aggregator_test.go
  internal/sampling/samplingstrategy/aggregator.go
Labels: changelog:bugfix-or-minor-feature, area/sampling

#6583 Move span.GetSamplerParams out of model/ into sampling/aggregator
  internal/sampling/samplingstrategy/adaptive/aggregator.go
  internal/sampling/samplingstrategy/adaptive/aggregator_test.go
  model/span.go
  model/span_test.go
Labels: changelog:bugfix-or-minor-feature, area/sampling

#6575 [badger] Untangle cache logic from db access logic
  plugin/storage/badger/factory.go
  plugin/storage/badger/spanstore/cache.go
  plugin/storage/badger/spanstore/cache_test.go
  plugin/storage/badger/spanstore/reader.go
  plugin/storage/badger/spanstore/rw_internal_test.go
Labels: changelog:bugfix-or-minor-feature, storage/badger

#6589 Change model.ToOTELxxxID() to accept ID argument
  cmd/query/app/apiv3/grpc_handler.go
  cmd/query/app/apiv3/http_gateway.go
  model/otelids.go
  model/otelids_test.go
  plugin/storage/integration/integration.go
  storage_v2/v1adapter/spanreader.go
  storage_v2/v1adapter/tracereader.go
  storage_v2/v1adapter/translator.go
  storage_v2/v1adapter/translator_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6582 Add REPLICATION parameter to Cassandra schema script
  plugin/storage/cassandra/schema/create.sh
Labels: changelog:bugfix-or-minor-feature, storage/cassandra

#6327 feat: Add esmapping-generator into jaeger binary
  cmd/esmapping-generator/generator/esmapping_generator.go
  cmd/esmapping-generator/generator/esmapping_generator_test.go
  cmd/esmapping-generator/main.go
  cmd/jaeger/main.go
  internal/storage/elasticsearch/mapping/command.go
  internal/storage/elasticsearch/mapping/command_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature

#6596 Sanitize Cassandra version before use it
  plugin/storage/cassandra/schema/create.sh
Labels: area/storage, changelog:bugfix-or-minor-feature

#6601 Add example of ES/OS server_urls to configs
  cmd/jaeger/config-elasticsearch.yaml
  cmd/jaeger/config-opensearch.yaml
Labels: area/storage, changelog:bugfix-or-minor-feature

#6602 Redefine model/ and api_v2/ types as aliases to jaeger-idl/ types
  Makefile.Protobuf.mk
  go.mod
  go.sum
  model/dependencies.go
  model/doc.go
  model/flags.go
  model/hash.go
  model/ids.go
  model/keyvalue.go
  model/model.go
  model/model.pb.go
  model/process.go
  model/sort.go
  model/span.go
  model/spanref.go
  model/time.go
  model/trace.go
  pkg/gogocodec/codec.go
  plugin/storage/grpc/proto/storage.proto
  proto-gen/api_v2/collector.go
  proto-gen/api_v2/collector.pb.go
  proto-gen/api_v2/query.go
  proto-gen/api_v2/query.pb.go
  proto-gen/api_v2/sampling.go
  proto-gen/api_v2/sampling.pb.go
  proto-gen/storage_v1/storage.pb.go
Labels: changelog:bugfix-or-minor-feature

#6599 Return 400 instead of 500 on incorrect OTLP payload
  cmd/query/app/http_handler.go
  cmd/query/app/http_handler_test.go
Labels: changelog:bugfix-or-minor-feature

#6594 Add unit tests for the cassandra/schema/create.sh script
  .github/workflows/ci-lint-checks.yaml
  plugin/storage/cassandra/schema/create.test.sh
  scripts/utils/run-tests.sh
Labels: area/storage, changelog:test

#6567 [storage] Remove distinction between primary and `archive` storage interfaces
  cmd/all-in-one/main.go
  cmd/jaeger/config-remote-storage.yaml
  cmd/jaeger/internal/extension/jaegerstorage/config.go
  cmd/jaeger/internal/extension/jaegerstorage/config_test.go
  cmd/jaeger/internal/integration/grpc_test.go
  cmd/query/app/flags.go
  cmd/query/app/flags_test.go
  cmd/query/app/querysvc/query_service.go
  cmd/query/app/querysvc/query_service_test.go
  cmd/query/app/token_propagation_test.go
  cmd/query/main.go
  cmd/remote-storage/app/server.go
  cmd/remote-storage/app/server_test.go
  pkg/es/config/config.go
  plugin/storage/badger/factory.go
  plugin/storage/blackhole/factory.go
  plugin/storage/blackhole/factory_test.go
  plugin/storage/cassandra/factory.go
  plugin/storage/cassandra/factory_test.go
  plugin/storage/cassandra/options.go
  plugin/storage/cassandra/options_test.go
  plugin/storage/es/factory.go
  plugin/storage/es/factory_test.go
  plugin/storage/es/options.go
  plugin/storage/es/options_test.go
  plugin/storage/factory.go
  plugin/storage/factory_test.go
  plugin/storage/grpc/config.go
  plugin/storage/grpc/factory.go
  plugin/storage/grpc/factory_test.go
  plugin/storage/grpc/options.go
  plugin/storage/grpc/options_test.go
  plugin/storage/grpc/shared/archive.go
  plugin/storage/grpc/shared/archive_test.go
  plugin/storage/grpc/shared/grpc_client.go
  plugin/storage/grpc/shared/grpc_client_test.go
  plugin/storage/grpc/shared/grpc_handler_test.go
  plugin/storage/grpc/shared/interface.go
  plugin/storage/integration/cassandra_test.go
  plugin/storage/integration/elasticsearch_test.go
  plugin/storage/integration/grpc_test.go
  plugin/storage/integration/remote_memory_storage.go
  plugin/storage/memory/factory.go
  storage/factory.go
  storage/mocks/ArchiveCapable.go
  storage/mocks/ArchiveFactory.go
  storage/mocks/Inheritable.go
  storage_v2/v1adapter/archive.go
  storage_v2/v1adapter/archive_test.go
Labels: enhancement, area/storage, changelog:breaking-change

#6610 Additional model/ cleanup
  .golangci.yml
  Makefile.Protobuf.mk
  cmd/jaeger/internal/integration/trace_reader.go
  cmd/query/app/apiv3/grpc_handler.go
  cmd/query/app/apiv3/http_gateway.go
  model/ids.go
  model/keyvalue.go
  model/span.go
  model/span_pkg_test.go
  model/spanref.go
  plugin/storage/integration/integration.go
  proto-gen/storage_v1/storage.pb.go
  scripts/lint/check-go-version.sh
  storage_v2/v1adapter/otelids.go
  storage_v2/v1adapter/otelids_test.go
  storage_v2/v1adapter/spanreader.go
  storage_v2/v1adapter/tracereader.go
  storage_v2/v1adapter/translator.go
  storage_v2/v1adapter/translator_test.go
Labels: changelog:bugfix-or-minor-feature

#6609 Use jeager-idl/proto-gen/api_v2
  .golangci.yml
  cmd/agent/app/builder_test.go
  cmd/agent/app/configmanager/grpc/manager.go
  cmd/agent/app/configmanager/grpc/manager_test.go
  cmd/agent/app/configmanager/manager.go
  cmd/agent/app/configmanager/metrics.go
  cmd/agent/app/configmanager/metrics_test.go
  cmd/agent/app/reporter/grpc/builder_test.go
  cmd/agent/app/reporter/grpc/collector_proxy_test.go
  cmd/agent/app/reporter/grpc/reporter.go
  cmd/agent/app/reporter/grpc/reporter_test.go
  cmd/agent/app/testutils/mock_grpc_collector.go
  cmd/all-in-one/all_in_one_test.go
  cmd/anonymizer/app/query/query.go
  cmd/anonymizer/app/query/query_test.go
  cmd/collector/app/collector_test.go
  cmd/collector/app/handler/grpc_handler.go
  cmd/collector/app/handler/grpc_handler_test.go
  cmd/collector/app/server/grpc.go
  cmd/collector/app/server/grpc_test.go
  cmd/collector/app/server/test.go
  cmd/jaeger/internal/extension/remotesampling/extension.go
  cmd/jaeger/internal/extension/remotesampling/extension_test.go
  cmd/query/app/grpc_handler.go
  cmd/query/app/grpc_handler_test.go
  cmd/query/app/server.go
  cmd/query/app/server_test.go
  crossdock/services/agent.go
  crossdock/services/agent_test.go
  internal/sampling/grpc/grpc_handler.go
  internal/sampling/grpc/grpc_handler_test.go
  internal/sampling/http/cfgmgr.go
  internal/sampling/http/cfgmgr_test.go
  internal/sampling/http/handler.go
  internal/sampling/http/handler_test.go
  internal/sampling/samplingstrategy/adaptive/provider.go
  internal/sampling/samplingstrategy/adaptive/provider_test.go
  internal/sampling/samplingstrategy/file/constants.go
  internal/sampling/samplingstrategy/file/provider.go
  internal/sampling/samplingstrategy/file/provider_test.go
  internal/sampling/samplingstrategy/provider.go
  model/converter/json/sampling.go
  model/converter/json/sampling_test.go
  model/converter/thrift/jaeger/sampling_from_domain.go
  model/converter/thrift/jaeger/sampling_from_domain_test.go
  model/converter/thrift/jaeger/sampling_to_domain.go
  model/converter/thrift/jaeger/sampling_to_domain_test.go
  scripts/lint/import-order-cleanup.py
Labels: changelog:bugfix-or-minor-feature, v2

#6614 Replace JAEGER_IMAGE_TAG with JAEGER_VERSION
  docker-compose/monitor/Makefile
  docker-compose/monitor/README.md
  docker-compose/monitor/docker-compose-v1.yml
  docker-compose/monitor/docker-compose.yml
  docker-compose/tail-sampling/Makefile
  docker-compose/tail-sampling/docker-compose.yml
Labels: changelog:bugfix-or-minor-feature, docker

#6542 Add 'features' command to print available feature gates
  cmd/jaeger/internal/features/display.go
  cmd/jaeger/internal/features/display_test.go
  cmd/jaeger/main.go
Labels: enhancement, changelog:bugfix-or-minor-feature

#6616 Delete gRPC MetricsQueryService, metricsquery.proto and related code
  .github/workflows/ci-lint-checks.yaml
  Makefile.Protobuf.mk
  cmd/anonymizer/app/query/query_test.go
  cmd/jaeger/internal/extension/jaegerquery/server_test.go
  cmd/query/app/grpc_handler.go
  cmd/query/app/grpc_handler_test.go
  cmd/query/app/server.go
  cmd/query/app/server_test.go
  model/proto/metrics/metricsquery.proto
  model/proto/metrics/otelmetric.proto
  proto-gen/api_v2/metrics/metricsquery.pb.go
Labels: changelog:breaking-change

#6611 [refactor] Remove archive reader and writer from remote storage grpc handler
  cmd/remote-storage/app/server.go
  cmd/remote-storage/app/server_test.go
  plugin/storage/grpc/proto/storage.proto
  plugin/storage/grpc/shared/grpc_handler.go
  plugin/storage/grpc/shared/grpc_handler_test.go
  proto-gen/storage_v1/storage.pb.go
Labels: area/storage, changelog:breaking-change

#6619 Redefine thrift-gen types as aliases to jaeger-idl
  Makefile.Thrift.mk
  thrift-gen/agent/GoUnusedProtection__.go
  thrift-gen/agent/agent-consts.go
  thrift-gen/agent/agent.go
  thrift-gen/jaeger/GoUnusedProtection__.go
  thrift-gen/jaeger/jaeger-consts.go
  thrift-gen/jaeger/jaeger.go
  thrift-gen/zipkincore/GoUnusedProtection__.go
  thrift-gen/zipkincore/zipkincore-consts.go
  thrift-gen/zipkincore/zipkincore.go
Labels: changelog:bugfix-or-minor-feature

#6621 replace all imports of jaeger/thrift-gen/* with jaeger-idl/thrift-gen/*
  cmd/agent/app/builder.go
  cmd/agent/app/builder_test.go
  cmd/agent/app/processors/thrift_processor_test.go
  cmd/agent/app/reporter/client_metrics.go
  cmd/agent/app/reporter/client_metrics_test.go
  cmd/agent/app/reporter/grpc/builder_test.go
  cmd/agent/app/reporter/grpc/collector_proxy_test.go
  cmd/agent/app/reporter/grpc/reporter.go
  cmd/agent/app/reporter/grpc/reporter_test.go
  cmd/agent/app/reporter/metrics.go
  cmd/agent/app/reporter/metrics_test.go
  cmd/agent/app/reporter/reporter.go
  cmd/agent/app/reporter/reporter_test.go
  cmd/agent/app/servers/tbuffered_server_test.go
  cmd/agent/app/testutils/in_memory_reporter.go
  cmd/agent/app/testutils/in_memory_reporter_test.go
  cmd/agent/app/testutils/thriftudp_client.go
  cmd/collector/app/handler/http_thrift_handler.go
  cmd/collector/app/handler/http_thrift_handler_test.go
  cmd/collector/app/handler/thrift_span_handler.go
  cmd/collector/app/handler/thrift_span_handler_test.go
  cmd/collector/app/handler/zipkin_receiver_test.go
  cmd/collector/app/sanitizer/zipkin/span_sanitizer.go
  cmd/collector/app/sanitizer/zipkin/span_sanitizer_test.go
  cmd/collector/app/span_processor_test.go
  model/converter/thrift/jaeger/from_domain.go
  model/converter/thrift/jaeger/to_domain.go
  model/converter/thrift/jaeger/to_domain_test.go
  model/converter/thrift/zipkin/deserialize.go
  model/converter/thrift/zipkin/deserialize_test.go
  model/converter/thrift/zipkin/to_domain.go
  model/converter/thrift/zipkin/to_domain_test.go
  plugin/storage/kafka/marshalling_test.go
Labels: changelog:bugfix-or-minor-feature

#6627 fix(hotrod): include CA certificates for HOTRod Dockerfile
  examples/hotrod/Dockerfile
Labels: changelog:bugfix-or-minor-feature, docker

#6625 [chore][tests] Clean up integration tests to remove archive reader / writer
  cmd/jaeger/internal/integration/badger_test.go
  cmd/jaeger/internal/integration/cassandra_test.go
  cmd/jaeger/internal/integration/kafka_test.go
  cmd/jaeger/internal/integration/memory_test.go
  plugin/storage/integration/badgerstore_test.go
  plugin/storage/integration/cassandra_test.go
  plugin/storage/integration/elasticsearch_test.go
  plugin/storage/integration/grpc_test.go
  plugin/storage/integration/integration.go
  plugin/storage/integration/kafka_test.go
  plugin/storage/integration/memstore_test.go
Labels: area/storage, storage/elasticsearch, changelog:ci

#6489 Upgrade storage integration test: Use V2 Archive ReaderWriter
  plugin/storage/integration/elasticsearch_test.go
  plugin/storage/integration/integration.go
Labels: area/storage, storage/elasticsearch, storage/cassandra, v2, changelog:ci

#6630 Alias samping.thrift and clean thrift files
  .github/workflows/ci-lint-checks.yaml
  Makefile
  Makefile.Thrift.mk
  proto-gen/api_v2/collector.go
  proto-gen/api_v2/query.go
  proto-gen/api_v2/sampling.go
  thrift-gen/agent/agent.go
  thrift-gen/baggage/GoUnusedProtection__.go
  thrift-gen/baggage/baggage-consts.go
  thrift-gen/baggage/baggage.go
  thrift-gen/jaeger/jaeger.go
  thrift-gen/sampling/GoUnusedProtection__.go
  thrift-gen/sampling/sampling-consts.go
  thrift-gen/sampling/sampling.go
  thrift-gen/zipkincore/zipkincore.go
Labels: changelog:bugfix-or-minor-feature, area/sampling

#6566 [v2][query] Apply "Max Clock Skew Adjust" setting
  cmd/jaeger/config.yaml
  cmd/jaeger/internal/extension/jaegerquery/server.go
  cmd/query/app/flags.go
  cmd/query/app/flags_test.go
  cmd/query/app/querysvc/query_service.go
  cmd/query/app/querysvc/v2/querysvc/service.go
  cmd/query/app/querysvc/v2/querysvc/service_test.go
Labels: changelog:bugfix-or-minor-feature, v2

#6541 Add unit test for OTLP receiver in jaeger-v1
  cmd/collector/app/handler/grpc_handler.go
  cmd/collector/app/span_processor_test.go
  cmd/jaeger/internal/extension/remotesampling/extension.go
  pkg/tenancy/grpc.go
  pkg/tenancy/grpc_test.go
Labels: changelog:test

#6635 Update import paths for jaeger thrift files to use jaeger-idl
  model/converter/json/sampling_test.go
  model/converter/thrift/jaeger/sampling_from_domain.go
  model/converter/thrift/jaeger/sampling_from_domain_test.go
  model/converter/thrift/jaeger/sampling_to_domain.go
  model/converter/thrift/jaeger/sampling_to_domain_test.go
Labels: changelog:bugfix-or-minor-feature, area/sampling

#6636 [fix] Refactor archive storage initialization and remove error log
  cmd/all-in-one/main.go
  cmd/query/app/flags.go
  cmd/query/app/flags_test.go
  cmd/query/main.go
  plugin/storage/factory.go
  plugin/storage/factory_test.go
Labels: area/storage, changelog:bugfix-or-minor-feature
